[2016-03-22 03:20] damienadermann opened #2 "Angular2 locked to beta 7"
Angular is locked to beta.7 in the package json. Is there a reason we can't make this greater than beta.7?

[code]

[2016-03-22 03:20] damienadermann commented on #2
Also thanks for the package :+1:

[2016-03-22 03:45] btroncone commented on #2
Good catch, there is no reason it needs to be locked to beta.7. I have updated and am publishing now. Thanks for the feedback! :smile:

[2016-03-22 03:45] #2 closed

[2016-04-04 21:00] jasonwaters opened #3 "Rehydrate dates"
Great middleware, thanks for providing it!

I've noticed that Dates are saved as strings in localStroage, since they must be.  But they are not rehydrated to actual dates when pulled out of localStorage.  Would be nice if the middleware detected date strings and Date.parse'd them.

[2016-04-05 10:54] btroncone commented on #3
Thanks for the feedback! Let me look into this a bit to determine whether there is a way to efficiently handle this issue. I will keep you updated.

[2016-05-14 01:03] btroncone commented on #3
This will be fixed for the next version to coincide with store v2 release (current storev2 branch). I will keep this open until new version is published. 👍

[2016-05-14 02:21] jasonwaters commented on #3
Thanks!! Looking forward to it.

[2016-05-14 03:47] frederikschubert opened #4 "v2 Feature request: Sync slices of a state"
I would like to store only parts of the state that is handled by one reducer. This could be implemented by allowing nested keys like `todos.done`.

[2016-05-14 03:50] frederikschubert opened #5 "v2 Feature request: Add option for immutable.js"
Because immutable.js data structures can not be serialized and deserialized properly using `JSON`, an option would be useful that enables [transit-immutable-js](https://github.com/glenjamin/transit-immutable-js) for the serialization and dehydration.

[2016-05-14 05:43] frederikschubert commented on #5
I have been thinking about this and maybe it would be better to not depend on that module directly with this lib but simply create the option for the user to provide his/her own serialization/rehydration function. The default would then still be `JSON.parse`/`JSON.serialize`.

[2016-05-15 02:05] btroncone commented on #5
This is probably the route I will go. I have a couple other things I am finishing up at the moment but will circle back after and implement this functionality. 👍

[2016-05-26 00:56] btroncone commented on #3
This should now be working with the latest version.

[2016-05-26 00:56] #3 closed

[2016-06-30 16:55] jFensch opened #7 "Remove Angular2 dependency?"
I'm not sure the ng2 dependency is even needed.

[2016-07-01 02:55] btroncone commented on #7
It's not, I removed from ngrx-store-logger and will cut a new version of local-storage soon. Thanks! :+1:

[2016-07-14 12:56] ganeshpms commented on #7
Is there any side effect if we still use this package with angular-rc4?

[2016-07-14 14:15] btroncone commented on #7
Nope, should work fine.

[2016-07-17 15:59] 11mb opened #8 "Objects become Json Objects"
I'm storing js objects into the ngrx store.. This is working OK, but when these are injected back by the localstorge library these aren't objects anymore but json objects. I want to be able to turn these json objects back to my own objects just before they are injected back into the store.

Is there any callback function, or point where I can do this?

[2016-07-20 23:37] btroncone commented on #8
Could you provide a more detailed explanation or example? The state rehydrated by this module should mirror the state in your store at the point the last action was dispatched. I would be glad to help but am a bit confused by the behavior you are looking for. Thanks! :+1:

[2016-07-20 23:57] btroncone commented on #7
Angular dependency has been removed. :+1:

[2016-07-20 23:57] #7 closed

[2016-07-21 19:21] 11mb commented on #8
Thanks for your reply. I'm not sure if what I'm doing is a best practice or not, but I'm storing Objects like such in the store:

`let myObject = new DataObject();`

This dataobject looks like this for example:

    class DataObject {
       public value1:string = 'hello';
       public value2:string = 'world';

      myFunction() {
          return this.value1 + ' ' + this.value2;
       }
    }

[2016-07-23 16:40] btroncone commented on #8
I see, thanks for the explanation! Due to time constraints I do not have plans to implement this functionality at this time but I would gladly look over a PR if you would like to take a shot. I will also keep this on my radar for the future if you do not get an opportunity yourself. I am closing this issue for now but will keep an eye out. :+1:

[2016-07-23 16:40] #8 closed

[2016-08-01 16:57] kurigohan opened #9 "v2 Feature Request: Option to sync to sessionStorage instead of localStorage"
It would be nice to have the option between syncing to localStorage or sessionStorage.

[2016-08-03 01:53] btroncone commented on #9
I will consider adding this, thanks :+1:

[2016-08-30 07:12] wizardnet972 opened #11 "Save to storage only when slice of state changed"
Hi,

Here is my fix for check for only when the slice of the state was changed then save it to storage.
because each time the store had change it's save to the storage even the slice has no change at all.

[code]

[2016-08-30 11:07] btroncone commented on #11
Thanks! There are some additional options to this module coming soon and I will likely add a similar check with that release. 👍

[2016-09-07 17:47] dwgray commented on #9
@btroncone:  I have refactor that takes an optional parameter of type Storage (default value localStorage) in the stuff I'm playing with to try to get testing in.  I'm happy to add that in if I can get over the testing isssues...

[2016-09-08 20:30] btroncone commented on #9
Sounds great! :+1:

[2016-09-25 13:00] btroncone commented on #4
This scenario should now be accommodated. 👍

[2016-09-25 13:00] #4 closed

[2016-09-25 13:03] btroncone commented on #9
This should now be accommodated. 👍

[2016-09-25 13:03] #9 closed

[2016-09-25 13:03] btroncone commented on #5
This should now be accommodated. 👍

[2016-09-25 13:03] #5 closed

[2016-10-13 22:17] jasonwaters opened #13 "[AOT] ngc: Error: Error encountered resolving symbol values statically. Function calls are not supported. Consider replacing the function or lambda with a reference to an exported function, resolving symbol AppModule"
Hi!  I recently upgraded to the 2.0.0 release version of Angular 2.  I'm getting this error from ngc:

ngc: Error: Error encountered resolving symbol values statically. Function calls are not supported. Consider replacing the function or lambda with a reference to an exported function, resolving symbol AppModule

I believe it has to do with this code in the NgModule definition:

[code]
if I change

[2016-10-14 00:54] jasonwaters commented on #13
Never mind, here's how the ngrx example app works around it:

https://github.com/ngrx/example-app/blob/master/src/app/reducers/index.ts#L82

[2016-10-14 00:54] #13 closed

[2016-10-15 01:35] btroncone commented on #13
@jasonwaters Sorry for the delay, glad you worked it out! 👍

[2016-11-02 12:40] qvantor opened #14 "Incorrect sync on load"
For example, i add localStorageSync:
[code]
And when i change key category it's create object in localstorage `{category: 'foo'}`,
but when i reload page it replace my reducer init object on `{category: 'foo'}`, instead just adding category field in it.

[2016-11-11 11:41] btroncone commented on #14
Just saw your PR, thanks! Let me review and I'll get back to you soon.

[2016-12-15 08:01] mxii commented on #13
@jasonwaters could you show your working code please? :)
Struggling with the same problem..

[2016-12-15 17:07] jasonwaters commented on #13
@mxii no problem.

It's basically this bit from the code I linked to:

`app.module.ts`
[code]

`app.reducers.ts`
[code]

[2016-12-15 17:34] mxii commented on #13
But where to put this part `localStorageSync(['todos'], true)`?

[2016-12-15 17:37] jasonwaters commented on #13
@mxii oh, right.  actually my productionReducer and developmentReducer look like this:

[code]

hope it helps

[2016-12-15 17:38] mxii commented on #13
Great, thanks!

[2017-01-08 18:00] pgcd opened #17 "Add (or detail) compatibility with Ionic Storage"
I'm very much a newb here so maybe I'm missing something obvious, but I can't seem to use Ionic storage (https://ionicframework.com/docs/v2/storage/) with ngrx-store-localstorage, due to the fact that Ionic storage returns promises.
I honestly have no idea how much work that would entail, and unfortunately I can't offer a PR either - on the other hand, if there's any simple way this can be done wi

[2017-01-11 15:35] nottinhill opened #18 "ERROR in Error encountered resolving symbol values statically. Function calls are not supported."
**The error message:**

ERROR in Error encountered resolving symbol values statically. Function calls are not supported. Consider replacing the function or lambda with a reference to an exported function (position 6:54 in the original .ts file), resolving symbol authReducer in /Users/tyrion/devel/saveup-policy/src/app/saveup-common/common-core/common-auth/auth-store/auth-reducer.ts, resolving symb

[2017-01-11 17:30] btroncone commented on #18
Please see this issue, I believe it's related. https://github.com/btroncone/ngrx-store-localstorage/issues/13

[2017-01-11 19:18] nottinhill commented on #18
Seems like it. However I can't figure out how to apply https://github.com/btroncone/ngrx-store-localstorage/issues/13 to my problem.

[2017-01-11 23:04] nottinhill commented on #18
I resolved this partially, but eventually thanks to https://github.com/ngrx/store/issues/190#issuecomment-252914335 but eventually downgraded to angular-cli.beta.20-4 which resolved all issues at once.

[2017-01-20 14:00] zygimantas opened #19 "Setting state value to undefined"
If the state is set to ```undefined``` by reducer (case: logout), the value is not removed/update in localStorage. I am doing it wrong? The only option right now is to remove manually from the local storage in effect?

[2017-02-04 15:55] JimTheMan commented on #13
None of these "solutions" are working for me...

[code]

[2017-02-05 16:00] mpetkov commented on #5
@btroncone - When you have time, could you please add an example of how to use this with a reducer that used Immutable.js?

[2017-02-07 20:15] radoslawroszkowiak opened #20 "Rehydrate with default state when no localStorage key?"
Thank you for this really nice utility.
Is there any possibility that I can't figure out to provide default state for rehydration?

My problem:
I've got a state with "user" section, being and object with default values, i.e.:
[code]
I'm syncing the whole user node. However, when the new user visits page and there's no localStorage "user" key, the user state after rehydration is `null`, instead of

[2017-02-08 13:09] btroncone commented on #20
Hello,

If I'm understanding correctly your best option may be to just set the default state in the user reducer (default param). That way if no local storage key exists for this item it will use your specified default state. The next time the user returns it will pick up the user info from local storage and everything should work correctly.

Hope this helps!

[2017-02-08 15:41] radoslawroszkowiak commented on #20
I thought yesterday that rehydration did not work correctly as I couldn't get it to work in jasmine tests. It simply turned out in the tests your "middleware" was not in use in some cases and it was not relevant to this this package. Actually, all is fine now, thank you.

Closing the issue - it's not really valid.

[2017-02-08 15:41] #20 closed

[2017-02-15 11:54] Liork1 opened #21 "init state patrly from localstorage and patrly from initial state"
I would like to use localStorageSync in a way that it will partly pull the state from localstoarge and partly from the initial state definition.
 For example, assuming that this is my reducer:

[code]
And syncing it with localstorage like that:
` localStorageSync([{login: [‘permissions’]}], true)`

The problem is that the state contains now only the permissions object, without the default values I

[2017-02-16 19:17] jrmcdona commented on #13
@jasonwaters I am getting this error

Exception: Call to Node module failed with error: Prerendering failed because of error: ReferenceError: localStorage is not defined
at Object.exports.localStorageSync (C:\Users\jordanmc\Source\Repos\Xbox.Ambassadors\Microsoft.Ambassadors.Admin\Microsoft.Ambassadors.Admin\node_modules\ngrx-store-localstorage\dist\index.js:104:41)

I don't see what you are using

[2017-02-16 19:35] jrmcdona opened #22 "Exception: Call to Node module failed with error: Prerendering failed because of error: ReferenceError: localStorage is not defined"
I  am getting this error and not sure how to get around it.   From what I can see in the other examples, nobody seems to be passing a localStorage parameter to localStorageSync like the doc says. Also, the example on the main page doesn't do this either.

Exception: Call to Node module failed with error: Prerendering failed because of error: ReferenceError: localStorage is not defined
at Object.ex

[2017-02-16 20:10] jasonwaters commented on #13
@jrmcdona where are you seeing this error?  It looks like you are trying to execute the code within node?  Node does not have a native localStorage implementation, you could consider using a shim such as node-localstorage.

[2017-02-16 20:30] jrmcdona commented on #13
I am seeing the error in my Angular /  .NET Core MVC app when running locally.

Perhaps that is the issue, because of node.    I will try node-localstorage and see how that goes.

Tried this but it failed to install and isn't maintained.
https://github.com/marcj/angular2-localstorage

[2017-02-17 01:55] jrmcdona commented on #22
did away with server pre-rendering and it is working now

[2017-02-17 01:55] #22 closed

[2017-02-24 20:14] damsorian opened #23 "Encrypt the localStorage value"
Hello!

Is it possible to encrypt the localStorage value?

Any idea how?

[2017-03-13 18:06] bfricka opened #24 "Handling quota errors"
I saw that the lib is properly doing `try...catch` on `setItem`, but currently there is no way to handle these errors. Browsers handle Web Storage quotas differently, which Safari having a particularly strict quota of 5MB. It would be nice to be able to pass an error handler so clients can determine what to drop in the case of QuotaError.

This problem is trickier than it first may seem. First, wh

[2017-03-22 22:08] ernestomancebo commented on #19
submitted a proposal under **Adding support to remove state when undefined #25** pull request

[2017-03-23 02:33] sparachi opened #26 "error reading store data"
I created the ngrx store something on the lines of this [article](https://www.pluralsight.com/guides/front-end-javascript/building-a-redux-application-with-angular-2-part-2)  and it is working fine.

I'm using the localstorage option now `StoreModule.provideStore(
      compose(localStorageSync(['reducer']), combineReducers)({ reducer })`

my 'reducer' ( meta reducer )code looks like this

`
const

[2017-03-23 02:39] btroncone commented on #19
Merged, closing this issue. Thanks @ernestomancebo!

[2017-03-23 02:39] #19 closed

[2017-03-23 02:44] btroncone commented on #26
This seems to be a reducer issue, not an issue with this module if your store state is disappearing between actions. If you post a GitHub or Plunker link I could try to help if you haven't already figured it out, thanks!

[2017-03-25 15:45] ernestomancebo commented on #21
To set values to `userId` and `created` at the application bootstrap, I'd suggest to define the `INIT_ACTION` action constant and load the required data in the reducer as follow:

[code]

[2017-03-25 23:50] ernestomancebo commented on #23
Hi @damsorian, on the pull request **Support for state encryption #28** there's a change to support such feature.

You'd be passing down a function on the key object as follow:
``localStorageSync([{ todos: { encrypt: encryptFunction, decrypt: decryptFunction } }, ... ]))``

[2017-03-26 14:46] damsorian commented on #23
@ernestomancebo thank you very much!

[2017-03-26 14:47] #23 closed

[2017-04-09 02:20] dojchek opened #29 "Angular 4 support"
Hello,

With new version of angular, there is a warning for unmet dependency:
`warning "ngrx-store-localstorage@0.1.5" has incorrect peer dependency "@angular/core@^2.0.0-rc.5".`

It's not an urgent issue, but still would be nice to get rid of that warning.

Thanks

[2017-04-20 15:51] nghiado commented on #29
This is actually a blocker issue to us so we can't upgrade our build to Angular4.
Can we fix this one soon?

[2017-04-20 18:27] btroncone commented on #29
Hello,

Thanks for bringing this to my attention.

I should be able to get to this within the week, or I will merge a PR and publish if you want to submit a PR.

[2017-04-21 18:04] kucharzyk commented on #29
Thanks for your work @btroncone

[2017-04-22 18:59] relevantmedia commented on #29
I don't know if this is related. Getting and error from
[code]

Error encountered resolving symbol values statically. Function calls are not supported. Consider replacing the function or lambda with a reference to an
exported function (position 12:42 in the original .ts file

[2017-04-27 19:56] kucharzyk commented on #29
Any news about Angular 4 support?

[2017-05-03 03:34] btroncone commented on #29
Updated package and removed outdated angular dep. 👍

[2017-05-03 03:34] #29 closed

[2017-05-04 14:13] haugero opened #31 "Format of date strings change after rehydration"
We store dates like "2017-05-03T16:17:05" as strings in our store.
We use your localStorageSync with rehydrate=true.
After reloading our angular application the rehydrated initial state shows that the date string has been changed to "2017-05-03T14:17:05.000Z"

If I read the following issue I know why this is the case
https://github.com/btroncone/ngrx-store-localstorage/issues/3

But do you know ho

[2017-05-04 15:15] jeffwhelpley opened #32 "localStorageSyncAndClean errors"
When I use localStorageSync it works fine:

` localStorageSync(['auth'], true)`

But if I use localStorageSyncAndClean I get errors:

`localStorageSyncAndClean(['auth'], true, true)`

The error I get is:

[code]

Basically this is referring to when I do this:

[code]

So, it is saying `tasks` is null. It seems like it says this because the store was not initialized. So, the problem here is that wh

[2017-05-04 15:38] btroncone commented on #32
Thanks, I need to take a closer look at this logic.

Looping in @ernestomancebo

[2017-05-05 16:46] btroncone commented on #32
@jeffwhelpley I'll take a look this weekend when I have a bit more time and provide update. Apologize for delay.

[2017-05-05 17:59] jeffwhelpley commented on #32
no problem. I have a workaround for now to just use `localStorageSync(['auth'], true, window.localStorage, true)`

[2017-05-05 18:00] jeffwhelpley commented on #32
btw...you may want to just consolidate to one function that takes in an object with all the options so you don't need to deal with function param order.

[2017-05-05 18:02] btroncone commented on #32
Agree, that's a good change. This grew over time and should have been refactored. I'm going to try to give it some love over the next few days.

[2017-05-05 18:05] jeffwhelpley commented on #32
Thanks. This is a great library and I think it is a perfect fit for many people that want to use ngrx. In fact, I will do my part to promote this lib.

[2017-05-05 18:05] btroncone commented on #32
Thanks @jeffwhelpley ! 👍

[2017-05-06 03:03] ernestomancebo commented on #32
Hi @btroncone, @jeffwhelpley. I'll gladly take a look into this and providing updates soon.

[2017-05-06 10:44] btroncone commented on #32
Awesome @ernestomancebo, thanks! 👍🏻

[2017-05-06 14:38] ernestomancebo commented on #32
@jeffwhelpley as I can see, you're passing a third parameter on `localStorageSyncAndClean(['auth'], true, true)`, which by definition when it's true it removes the key from the `localStorage` on a `undefined` state (not the store, just to be clear), that's what is causing the undefined error implying that you cannot access to the `currentSlot` property.

What I can't relate is how it works for you

[2017-05-06 14:53] btroncone commented on #32
Thanks for your hard work @ernestomancebo!

[2017-05-07 16:30] ernestomancebo commented on #31
hi @haugero,

I'd say it's a timezone issue, since when it's rehydrated a 'Z' is appended. It seems to be capturing the date at UTC, then converted to the browser timezone or vice versa.

A workaround would be passing an object instead the name of the store you'd like to keep on sync, in that object, pass a reviver function that returns the same value and avoid the parsing that the default reviver

[2017-05-08 14:07] btroncone commented on #32
Merged, please let me know if you encounter any further issues.

[2017-05-08 20:13] btroncone commented on #31
Closing this issue.

[2017-05-08 20:13] #31 closed

[2017-05-18 13:21] HansS opened #35 "Windows 10, Node 7.-x Npm 4.x - npm run build or npm start fails with same error"
4129ms o 90% optimize assetsError: Debug Failure. False expression: File  has unknown extension.
    at Object.assert (c:\Users\Folio\web\frontend\javascript\frameworks\angular-rxjs\rxheroes\node_modules\typescript\lib\typescript.js:3323:23)
    at Object.fail (c:\Users\Folio\web\frontend\javascript\frameworks\angular-rxjs\rxheroes\node_modules\typescript\lib\typescript.js:3328:19)
    at Object.e

[2017-05-21 22:37] ernestomancebo commented on #35
how is this related to ngrx-store-localstorage?

[2017-05-23 09:26] etatuev opened #36 "Storage conflicts"
I've faced an issue with Storage conflicts when I had more than one application under same domain name, because sub apps had several same keys, which result to Storage keys overwrite upon `localStorageSync`.

Not sure if this should be handled by library, but I've created PR #37 with possible solution, custom serialize functions to make keys unique by using prefix or any other modifier.

What do y

[2017-05-23 15:36] btroncone commented on #36
Thanks! I will get back to you soon. 👍

[2017-05-30 10:44] qorsmond commented on #36
@btroncone I have exactly the same use case with sub apps on the same domain. Will PR #37 be merged or are you thinking of a different way in solving it?

[2017-06-01 13:35] etatuev commented on #36
@btroncone
This issue can be closed, I guess :)

[2017-06-01 14:07] btroncone commented on #36
Closing :)

[2017-06-01 14:07] #36 closed

[2017-06-12 15:32] elliotsabitov opened #38 "Not saving to local storage"
I am not sure what I am doing wrong localStorage is not being synced.

Here is my package.json:
{
  "name": "digital-sales-desk",
  "version": "0.0.0",
  "license": "MIT",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "test": "ng test",
    "lint": "ng lint",
    "e2e": "ng e2e"
  },
  "private": true,
  "dependencies": {
    "angular/animations": "^4.1.3",

[2017-06-12 23:30] #38 closed

[2017-06-23 17:13] varghesep opened #39 "Can this pattern be used for large data?"
In my opinion, synching the store and the local storage will work for small ToDo app where the state is very minimum. But for a real application like a catalog management, you have thousands of products. You can't bring-in all those products to the store. The local storage can have all the products, but the store can have only the products which have been searched by the user.

What is your opinio

[2017-06-24 21:07] wesselvdv commented on #4
@btroncone

This seems to be broken now. Can't define it.

[2017-06-26 07:16] uitgewis commented on #39
It's a state store. You're going to have a bad time trying to use redux as a document store, IMO. I think the examples use it as such as a matter of convenience.

Ideally one would use paginated responses from an endpoint, and update the state with that metadata. Saving all the records in the store(or simply in the browser) may quickly cause the app to become unresponsive while retrieving and modi

[2017-07-06 07:38] AirBorne04 opened #40 "Sync across different Tabs"
Is there the option to sync the stores through the localstorage across multiple tabs?

[2017-07-12 19:38] oliveiracdz commented on #4
Hi, @wesselvdv!

Like said in [PR](https://github.com/btroncone/ngrx-store-localstorage/pull/6#issue-162598656). this is the correct sintax: `localStorageSync([{todos: ['done'] }, ... ])`

[2017-07-13 11:37] wesselvdv commented on #4
@oliveiracdz You're right I figured this out on my own. Thanks for the reply though!

[2017-07-18 20:44] kucharzyk opened #41 "Upgrade to ngrx 4.0.0"
ngrx/store 4.0.0 was released today but ngrx-store-localstorage still has dependency to ^2.2.1 version

[2017-07-21 14:59] florent1933 commented on #17
Same, it will be usefull for my app.

[2017-07-23 11:46] richnologies commented on #41
I think with changes in ngrx/store@4, this middleware can now be implemented as a metareducer.

I build a very simplistic version as a temporary solution I share on this Gist.

https://gist.github.com/richnologies/9495211d986b15d6345e216436d6367f

I prefer to wait until this library updates rather than create a new one and I am willing to help

Hope the gist could help

[2017-07-24 08:49] Murazaki opened #42 "Rehydration loses Object class"
How to reproduce :

- Add an object (for instance obj) of a certain Typescript class (for instance `class Foo`) to the saved state
- Set ngrx-store-localstorage to save the corresponding state/property and activate rehydration
- Refresh the page

How it should work :

- Rehydration should keep the class of the instance :

`obj instanceof Foo` should return `true`
`obj.constructor.name` should retu

[2017-07-24 09:16] uitgewis commented on #42
The class is being (de)serialized as an object into JSON, which causes it to loose it's non-enumerable properties.

If you need to capture additional metadata from the class during serialization, you can implement a [custom `toJSON` method on the class](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify#toJSON()_behavior).

[2017-07-24 09:45] sutkovoy commented on #41
Any updates on it?

[2017-07-24 10:31] davideberlein commented on #41
@richnologies just a litte comment on your solution: You are using 'rehydratate' instead of 'rehydrate' in your config. Apart from that it works really well, thanks for the snippet!

[2017-07-24 13:34] richnologies commented on #41
@davideberlein thanks. It's fixed now

[2017-07-24 13:42] btroncone commented on #41
Sorry for the delay, I bumped the dep to 4.0.0. Good luck!

@richnologies This is already a meta-reducer. 👍

[2017-07-24 13:42] #41 closed

[2017-07-24 13:42] btroncone commented on #42
@uitgewis Thanks for the clarification!

[2017-07-24 13:42] #42 closed

[2017-07-24 13:44] btroncone commented on #39
@varghesep You can also pick and choose which slices of state you wish to sync. Maybe you have a large store but only need a small section to by synced with local storage, this library will aid you in this regard. 👍

[2017-07-24 13:44] #39 closed

[2017-07-24 13:44] #35 closed

[2017-07-24 13:44] btroncone commented on #32
Closing 👍

[2017-07-24 13:44] #32 closed

[2017-07-24 13:44] #11 closed

[2017-07-24 13:45] btroncone commented on #14
This has been resolved in later versions. 👍

[2017-07-24 13:45] #14 closed

[2017-07-24 13:45] #21 closed

[2017-07-24 13:46] #18 closed

[2017-07-24 13:46] #26 closed

[2017-07-24 20:24] dojchek opened #43 "ngrx 4 + prod flag"
I was able to integrate localstorage and it works when running with `ng serve'.
However, running the `ng build --prod`  I get the following exception:
[code]

The way I add a localstoragesync is (app.module.ts):
[code]

As soon as I remove metaReducers, it builds successfully

[2017-07-24 20:26] dojchek commented on #43
This is likely due to this issue:
[link](https://github.com/ngrx/platform/issues/116)

[2017-07-24 21:51] dojchek commented on #43
I debugged a bit and seems like the issue is with arrow functions. Once I convert the `localStorageSync` like in the following [GIST](https://gist.github.com/dojchek/c27ec375758417ba38d569fe455f5ec9)
it no longer throws error..

[2017-07-25 07:20] Murazaki commented on #42
I resolve the issue later on the day. I needed a deserializer, and passed it as an object with the state/property key.

Here's an example :

[code]

[code]

We might need to add this to the doc ?

[2017-07-26 10:02] kevfuzz commented on #43
Same issue. Any ETA on when this might be fixed?

[2017-07-26 18:18] bradyshutt commented on #43
I can't even get `ng serve` to run without the "Error encountered resolving symbol values statically..." error, and a failed compilation.

After the failed compilation, triggering a re-compilation (ie, changing a file as ng serve watches for file changes) results in a successful compile. `ng serve` seems to only give this error on the initial compilation.

[2017-07-26 20:54] dojchek commented on #40
It should already work like that. For me it syncs the storage across multi tabs.

[2017-07-26 23:08] etatuev opened #44 "ngrx 4.0 and StoreModule.forFeature"
Need a way to correctly serialize separately loaded slices of state (I mean from `StoreModule.forFeature(...)` in lazy loaded module). Problem is that currently we must to set keys which will be serialized at the metaReducer creation, but we can't know lazy loaded keys. Liar, we can make a hack and hardcode all keys at the start. But what if we have dynamic modules? (my case)

Other way is to appl

[2017-07-27 03:09] maxisam commented on #43
@kevfuzz technically, this doesn't need to be fixed.

use this following way to wrap `localStorageSync` and put it into an array for `metaReducers`. You are good to go.

[code]

[2017-07-27 06:59] kevfuzz commented on #43
Perfect, thanks.

[2017-07-28 07:40] uitgewis commented on #40
It saves across tabs, but does not synchronize. If the store in tab A changes, the store in tab B will only be updated when the page is reloaded.

[2017-07-28 09:38] AirBorne04 commented on #40
I understand what you are saying, but I find that possibility pretty useful, if you think that a user logs in on a primary tab and the secondary tab gets notified. How it is handled in the secondary tab is up to the application, maybe via a specific action. Now i had to do that manually via a window 'storage' event, what is also ok but could be documented or made optional via settings?

[2017-07-28 10:04] dojchek commented on #43
Nice! Thank you @maxisam
Closing this issue - It would definitely be useful to add this to docs for future reference

[2017-07-28 10:04] #43 closed

[2017-07-31 02:28] bufke opened #45 "Docs and status for use in ngrx 4.0"
I'm trying (and failing) to understand #43 and #41. The readme mentions `StoreModule.provideStore` which no longer exist. How should this project be used in 4.0? Is it currently not actually compatible and some "very simplistic version as a temporary solution" workaround exists?

[2017-08-01 12:59] imolorhe opened #46 "Is there a way to throttle the call to local storage to prevent too many save actions"
Currently, every change made in my app automatically saves the state to the local storage. This includes when typing text into the editor. It would be more appropriate instead to throttle the calls to save the changes in the storage. Is there a way to do this with this package?

[2017-08-08 18:42] btroncone commented on #45
@bufke Hello, I apologize for the delay. I have not had the bandwidth lately to update this module. I will do it as time allows or would gladly accept a PR. 👍

[2017-08-08 18:46] bufke commented on #45
Understood. I'll let you know if I find the time. I'd also be happy paying you or anyone else market rate for the work too.

[2017-08-10 14:47] papaiatis commented on #45
+1, need an update for supporting ngrx 4.0

[2017-08-10 22:51] x3igh7 commented on #44
Running into the same issue as you. I have a few modules with their own stores being lazy loaded and unable to get them to sync using the localStorage module. Might also poke around and see if there is a solution I can come up with.

[2017-08-10 23:57] etatuev commented on #44
Yeah, it will be good, because I still use ugly workaround I mentioned, with applying this metareducer for every lazy loaded state separately :)

[2017-08-14 12:12] #45 closed

[2017-08-14 12:28] btroncone commented on #46
@imolorhe There is not currently a way within this module. However, throttling or debouncing can be done at the action level when using store.

For instance, in your text example you could `debounceTime` on `valueChanges` of an input, only sending actions when an appropriate duration has passed.

Hope this helps! 👍

[2017-08-14 12:28] #46 closed

[2017-08-14 15:57] imolorhe commented on #46
Thanks

[2017-08-21 06:06] xban1x opened #48 "localForage"
I believe the next iteration step for this library should be to implement localForage as a means for us to be able to choose different storage options.

[2017-08-21 08:41] uitgewis commented on #48
It's already possible for users to use their own storage mechanisms via the optional `storage` configuration option.

[2017-08-27 05:56] wizardnet972 opened #49 "Override the init state"
I think there is should be an option to override the init state with the storage.

**for example:**
I have `auth` state and I did login and got a token.
When I refresh the browser this token is disappeared.
So I should save it to the localStorage.

But my init state have this: `token: null;`.

So I think there is should be in LocalStorageConfig option to override the init state..

@btroncone are y

[2017-08-27 06:04] wizardnet972 commented on #49
Sorry. it's already exist. :)

[2017-08-27 06:04] #49 closed

[2017-08-29 09:19] 99four commented on #17
Take a look at https://www.npmjs.com/package/ngrx-store-ionic-storage

[2017-08-31 14:43] AnnaLinnIsabelle opened #50 "Use ngrx-store-localstorage 0.2.x with ngrx V 2"
Hi!
I am using ngrx version 2, can I still use the latest versoin of ngrx-store-localstorage?

cheers

[2017-09-05 20:29] btroncone commented on #50
Yes, you will just need to follow the config from prior versions. The only thing that changed was how you configure the localStorage meta-reducer.

You can check out the README history for setup with previous versions. Let me know if you have any additional questions, good luck! 👍

[2017-09-05 20:29] #50 closed

[2017-09-10 18:46] papaiatis opened #52 "Where is the example?"
I can't seem to find any examples on how to use this module. Is it missing?
Or is it really just these couple of lines?

[code]

[2017-09-11 14:44] wizardnet972 commented on #52
Yes. nothing more :)

[2017-09-11 14:49] wizardnet972 opened #53 "Storage on demand"
Let's say I want to save my data from the Store to Storage. but after some logic time something change and I don't want to save to the Storage.

For example: "Remember me" at login.
After login I get the token then I save it to the Store (and to the Storage).
But when I turn off "Remember me" I want to save  the token to the Store (and **NOT** to the Storage)

[2017-09-11 14:54] papaiatis commented on #52
Nice. At least this isn't that much complicated than ngrx store itself.
However some slightly change in the Readme file would be great to clearly mark where is the example code. I got confused the first time.

[2017-09-12 12:04] btroncone commented on #52
@wizardnet972 Thanks for responding 👍

[2017-09-12 12:04] #52 closed

[2017-09-12 12:09] btroncone commented on #53
Thanks for your question! There is currently not a way to conditionally sync slices of states, this logic would have to reside elsewhere. This may be worth considering for a future release. 👍

[2017-09-12 12:09] #53 closed

[2017-09-13 12:51] brettatoms commented on #48
The problem is localForage uses an async API so it doesn't technically implement the Storage API and isn't a drop in replacement here. The natural-apptitude/ngrx-store-ionic-storage project, which claims to be inspired by this project, does the async call in the meta reducer which doesn't seem right and I would think is a race condition just waiting to happen.

Here's is the where I asked about th

[2017-09-13 13:48] btroncone commented on #48
@brettatoms If you need to utilize an async API to sync state I would recommend moving this to an effect.

[2017-09-14 01:53] cmdickson opened #54 "Change to use Date.parse instead of date regex breaks rehydration"
The change to use `Date.parse` instead of the date checking regex seems to match too many possible values.

For example, a number stored as a string, such as a version number, will pass the `Date.parse` check and be interpreted as a date instead of a string value

e.g.
[code]
Results in a `Date` instance of Sun Mar 05 2000 00:00:00 GMT-0500 (EST) being set for `version` in the store/state.

Using:

[2017-09-14 14:42] jpstrm commented on #54
The same problem happened to me

[2017-09-14 14:45] lscluan commented on #54
The same problem happened to me too

[2017-09-14 14:51] btroncone commented on #54
Sorry about that! I just published revert in `0.2.2`.

[2017-09-14 14:51] #54 closed

[2017-09-14 14:54] jpstrm commented on #54
thank you very much

On Thu, Sep 14, 2017 at 10:51 AM, Brian Troncone <notifications@github.com>
wrote:

--
Att,

João Paulo Santarém
Analista de Sistemas
Fone/WhatsApp: (92) 99195-1911 (Vivo)
Skype: jpstrm

[2017-09-14 19:25] akrueger opened #55 "Use sessionStorage option"
Would there be any major hurdles in having a config option to use `sessionStorage` rather than `localStorage`?

If that is what this option does, then feel free to close.

```storage (optional) Storage: Specify an object that conforms to the Storage interface to use, this will default to localStorage.```

Thanks!

[2017-09-19 18:41] akrueger commented on #55
I gave this a try and it worked perfectly, thanks!

[2017-09-19 18:41] #55 closed

[2017-09-27 15:36] rishadbharucha opened #58 "rehydrate: true option gives error"
**Operating System:** Manjaro Linux 17.0.5
**Kernel:** 4.9.51-1-MANJARO
**Node:** 8.5.0
**NPM:** 5.4.2
**Browser:** Chromium 61.0.3163.91
**Angular:** 4.4.3
**ngrx/store:** 4.0.3
**ngrx-store-localstorage:** 0.2.2
**zone.js:** 0.8.17

My app works fine, but when I add the `rehydrate: true` option, I get the error below when I try to refresh the page after I've logged in. I can provide more code or

[2017-09-28 00:17] kuncevic opened #59 "Setting up issue. Types of property 'metaReducers' are incompatible."
When I am setting up the thing getting an error ` Types of property 'metaReducers' are incompatible. ActionReducer<any, any>[]' is not assignable to type 'MetaReducer<State, Action>[]'.`
[code]
my reducers looks like
[code]

Any ideas?

Am on `@ngrx/store@4.0.3,`

[2017-09-28 03:56] brandonroberts commented on #59
metaReducers should be of type `MetaReducer[]` not `Array<ActionReducer<any, any>>`

[2017-09-28 04:04] kuncevic commented on #59
based on @brandonroberts comment that what I endup with:

[code]

[2017-09-28 04:29] #59 closed

[2017-09-28 06:07] kuncevic commented on #44
Just facing same issue and trying to figure out the best options.
Any updates on that?

[2017-10-03 16:21] ellipee commented on #58
having similar issues but only when I run a production app with --aot

[2017-10-09 22:33] ernestomancebo commented on #58
I'm taking a look into this

[2017-10-09 22:39] akrueger commented on #58
This works for me in my development build, but when I use a production flag in Webpack, I get a blank initial state in my session storage rather than the previous session state before the page refresh.

[2017-10-09 22:39] btroncone commented on #58
Thanks @ernestomancebo !

[2017-10-10 12:17] btroncone commented on #58
Publishing a new release now 👍

[2017-10-10 12:19] #58 closed

[2017-10-10 12:19] #48 closed

[2017-10-10 12:20] btroncone commented on #17
See #48 as well 👍

[2017-10-10 12:20] #17 closed

[2017-10-11 23:33] dinvlad commented on #40
+1 for this capability, especially because currently changes in an older tab may overwrite updates from the other.

[2017-10-12 21:50] dinvlad commented on #40
Here's a snippet that can be used to sync states based on @AirBorne04's suggestion:
[code]

This approach avoids an infinite loop when a storage update in one tab leads a storage update in another, which in turn causes update in the first one, etc.

[2017-10-13 12:30] ubcent commented on #40
Thanks @dinvlad It was helpful for me.

[2017-10-14 13:39] hackeurtalibe opened #62 "using ionic, how to set storage to ionic storage insted of local Storage"

[2017-10-16 13:26] brettatoms commented on #62
@hackeurtalibe see #48

[2017-10-19 08:15] nickwinger opened #64 "rehydrate State is not working with FeatureModule state"
I have a FeatureModule for Authentication that is using StoreModule.forFeature('auth' and therefore creates an auth object on the store.
This auth object i want to sync with the localStorage.
The rehydrate function only listens on the @ngrx/store/init event.
However at this time the auth if not yet set on the store
You have to also listen for the @ngrx/store/update-reducers event.
This is called a

[2017-10-20 01:02] Matmo10 opened #65 "Reviving nested states from localstorage results in loss of part of nested initial state values"
Suppose I have this initial state:
[code]

and I have this config:
[code]

and I have this state being revived from localStorage:
[code]

Which means during `@ngrx/store/init`, since [we only do a shallow merge of keys using Object.assign](https://github.com/btroncone/ngrx-store-localstorage/blob/master/src/index.ts#L180), I end up with the following state:
[code]
So basically if you use a nested

[2017-10-20 15:57] ernestomancebo commented on #65
I get the idea, but where is the default state being placed? inside the ``customMergeFunction``?

[2017-10-20 16:13] Matmo10 commented on #65
@ernestomancebo I'm not sure I understand your question

[2017-10-22 05:18] Matmo10 commented on #65
I think this is similar to, or the same as, issue #15

[2017-10-29 03:30] cnoter opened #66 "ngrx-store storage for nativescript?"
Can I use this library to work with my nativescript app by writing some "custom storage" code(conforming storage api)?  Actually, redux-persist(https://github.com/rt2zz/redux-persist) has a support for react-native, can we have that for nativescript? or and sample DEMO code for this? Please Help:)

[2017-11-01 21:06] Matmo10 commented on #65
Thoughts, @btroncone ?

[2017-11-03 22:49] xban1x opened #68 "Support for async implementation of Storage"
Title is probably self explanatory.
All methods of Storage interface return Promise<string> in that case

[2017-11-09 15:26] ciekawy commented on #13
I believe this is worth sharing https://github.com/ngrx/platform/issues/306 - it suggests to use `InjectionToken ` to deal with the AoT issue

[2017-11-15 16:19] mmmichl opened #70 "Add a flag to control date rehydration"
We store dates in ISO date format (string). When using this library, the reloading of the state breaks my data, as the ISO dates get parsed to date objects.

It would be very helpful, if there is a flag to disable date rehydration in my case.

-- thanks for this handy library, it's helping a lot at my development! 👍

[2017-11-21 18:53] creat-or opened #72 "rehydrate only works when devtools intrument enabled?"
I try to save the authentication information inside localStorage. Now, in development everything worked fine, but in production the information is not rehydrated.

In my root module imports I have the following line:
[code]

When I change it to instrument in development as well as in production, suddenly also rehydration of the state works.
[code]

Do you have an idea what could cause the problem?

[2017-11-24 16:26] chocmah commented on #72
Same problem here, it's working fine only when devtool are enabled

 "@angular/animations": "^5.0.1",
    "@angular/common": "^5.0.1",
    "@angular/compiler": "^5.0.1",
    "@angular/core": "^5.0.1",
    "@angular/forms": "^5.0.1",
    "@angular/http": "^5.0.1",
    "@angular/platform-browser": "^5.0.1",
    "@angular/platform-browser-dynamic": "^5.0.1",
    "@angular/router": "^5.0.1",
    "@ngr

[2017-11-24 17:47] chocmah commented on #72
I fixed it by moving the meta-reducer into the specific feature module of where i wanted to persist the state

`        StoreModule.forFeature('auth', reducers, { metaReducers: metaReducers }),
`

`export const metaReducers: MetaReducer<any, Action>[] = [localStorageSyncReducer];`

[code]

[2017-11-27 14:20] #70 closed

[2017-11-28 11:13] creat-or commented on #72
Thank you! That also worked for me.

If this is the intended behaviour, feel free to close this issue :)

[2017-12-04 09:39] adamkleingit commented on #65
I don't really understand how this library is usable without fixing this.
If I want to sync only part of the state, it makes sense that the rest of the initial state will not be changed by default.
Unless I'm missing something

[2017-12-07 11:40] Joniras opened #73 "Angular Universal Support"
As i tried out this (really nice and helpful) library i got surprised with the fact, that Angular Universal threw an Error.
`lcoalstorage is not defined`

It seems that this library doesnt support Angular Universal. I think many would appreciate support for it.

I solved it in the meanwhile with:
[code]

[2017-12-09 20:14] whisher commented on #73
@Joniras You are the man :)
Thanks
I agree with you the library
is quite useless without universal support

[2017-12-19 16:42] glebcha commented on #72
Moved to specific module with no result. It can only work as declared for root.

[2017-12-20 14:47] blissi opened #74 "Notification/callback after state was loaded?"
Hallo,
this is not a problem with your library, just a question how I could achieve the following:
I am using ngrx and your lib to store auth information to local storage. When the user comes back to the page, the auth infos are reloaded from local storage. My application isn't a classic REST application though - all communication goes over a websocket. Thus, I would have to connect the websocket

[2017-12-20 20:21] un33k commented on #40
@dinvlad this works great in dev, however, in production, there is an extra action `@ngrx/store/update-reducers` which gets in there and updates the store to default state which in-turn resets the localStorage copy.

So, when you reload the page, it logs you out if you were storing token to localStorage.

[2017-12-20 20:32] un33k opened #75 "Page reload writes default state to localStorage - Production ONLY"
[code]

[code]

The above works great in development, however, in production, an extra action of type `@ngrx/store/update-reducers` is fired twice which preempts the rehydrate step which wipes the localStorage copy to the initial state.  Resulting in the user log-out when the page is reloaded.

    "ngrx-store-localstorage": "^0.3.0",

[2017-12-20 20:42] un33k commented on #75
Maybe related to [this](https://github.com/btroncone/ngrx-store-localstorage/issues/72).

[2017-12-20 21:21] un33k commented on #72
@chocmah perhaps you show where you use `localStorageSyncReducer`.

[2017-12-21 02:44] un33k commented on #75
Update:

`@ngrx/store/update-reducers` comes after `@ngrx/store/init`.

Where `@ngrx/store/init` rehydrates the state from the localStorage.
Then `@ngrx/store/update-reducers` comes in which is not handled by this module. That ends up sending `undefined` in, as the state where the reducer returns the default.

[2017-12-21 15:44] dinvlad commented on #40
@un33k strange, I haven't experienced that.

[2017-12-21 15:45] ubcent commented on #40
@dinvlad I had the same issue

[2017-12-21 15:47] dinvlad commented on #40
@ubcent maybe something recent. In any case, unfortunately I'm moving to Vue/Vuex so may not be of much help..

[2017-12-21 16:06] un33k commented on #40
More info [here](https://github.com/btroncone/ngrx-store-localstorage/issues/75). FYI

[2018-01-01 14:36] jondea commented on #65
I agree with @adamkleingit, merge (however it is implemented) is the behaviour that makes the most sense and should probably be the default.

For anyone looking for a quick fix, export your `initialState` and use a custom de/serializer to inject it. Here's an example where we  want to save the `user` inside `state.auth`:
[code]

[2018-01-09 16:40] envil commented on #75
I have the exactly same issue, please fix soon! Thank you!

[2018-01-11 22:07] un33k commented on #75
Until this project becomes active again, here is a workaround  ...

1. Install the fix (by @nhaesler)
-- yarn add https://github.com/un33k/ngrx-store-localstorage

2. add this to your tsconfig.json
[code]
2. point to the new workaround package
[code]

[2018-01-24 23:04] csutorasr commented on #66
This has nothing to do with this repo. Here is an implementation of localstorage for nativescript: https://github.com/NathanaelA/nativescript-localstorage .

[2018-01-28 22:56] bufke commented on #66
I can confirm this project works great with Nativescript and nativescript-localstorage. nativescript-localstorage works like a polyfill - there is nothing special you need to do to make this project work with it.

[2018-01-29 00:08] bufke opened #78 "Proposal for dynamic sync"
Related to #53

I'm also implementing a remember me button for login. The use case thus requires not saving anything to localstorage but only when some variable is set.

Since we are using ngrx - it makes sense to me that this variable is in the store itself! I've prototyped this out and would be happy to submit a pull request. I wanted some feedback on general interest and approach. I'm thinking:

[2018-01-29 22:32] bufke commented on #78
Proposed addition to README.md

* `syncCondition` (optional) `string`: When set, sync to storage medium will only occur when this state path is set to a true boolean. Example: "config.syncToStorage" will check the state tree under config.syncToStorage and if true, it will sync to the storage. If undefined or false it will not sync to storage. Often useful for "remember me" options in login.

One a

[2018-01-30 18:49] okonon commented on #74
@blissi you can subscribe to hydraged slice of the store:
`this.store.select('hydrated').subscribe(...)`

[2018-01-30 18:52] okonon commented on #62
@hackeurtalibe use ionic[ specific package](https://github.com/natural-apptitude/ngrx-store-ionic-storage) that is inspired by this repo

[2018-01-31 17:31] bufke commented on #75
@btroncone I would be willing to help do maintenance work on this project if you want. I would not have time for reviewing feature work but I could review and merge regressions like this if you'd like. See my work here https://gitlab.com/bufke

[2018-02-03 09:11] blissi commented on #74
@okonon Thanks!

[2018-02-03 09:11] #74 closed

[2018-02-08 09:44] mxchange opened #80 "Merge states instead of overriding it."
# Current behaviour
When I pass something like:

[code]

It will override all my initial `app` state keys, and only fills in the `locale` field.

This will break my app, and forces me to choose to either sync the whole`app` key, or nothing at all. Or alternatively, make an entirely new `locale` reducer on the root.

# Expected behaviour
The state being merged similar to how it happens in a reducer

[2018-02-13 21:12] btroncone commented on #75
@bufke @un33k  Apologies for the delay, I have been super busy (as I'm sure we all are) and lost track of this project. If anyone would like to take over and start managing issues or PR's I would be happy to make you a collaborator. I can oversee some PR's but I'm not sure how much time I will have to make active contributions in the near future.

Please let me know, and thank you for your patienc

[2018-02-15 22:36] aprotsyk commented on #80
+1

[2018-02-22 10:27] mxchange commented on #80
Anyone find a more active Fork of this repo? It's pretty nice, but last update 3 months ago...

[2018-02-22 10:48] btroncone commented on #80
@mxchange We just released new version a few days ago. @tanyagray has done some awesome work already creating and reviewing PRs, hopefully we can be more responsive moving forward! 👍🏻

[2018-02-22 22:15] tanyagray commented on #80
This is definitely a good idea, if there is a PR for it I'd be happy to take a look. Need to solve this for my own project too.

I think this is one which would benefit from including a couple of basic tests to support it.

Happy to collaborate on making this happen :)

[2018-02-22 22:23] tanyagray commented on #44
The PR for this has now been merged and released as `v5.0.0`

Rehydration for feature modules is now supported, thanks @nhaesler !

[2018-02-22 22:23] #44 closed

[2018-02-22 22:27] tanyagray opened #82 "Documentation: How to use with feature modules"
There needs to be specific documentation added for rehydration of feature modules.

Example from my own project below, needs to be made generic for the docs.

[code]

[code]

[2018-02-22 22:39] tanyagray commented on #65
Thanks everyone for your input, I'm reviewing existing issues and PRs in my available time and see this as a high priority. Have tagged the issue for attention.

At this point I understand that the PR #15 is not specific enough, and the ideal solution would be an option to provide custom `serialize` and `deserialize` functions?

Would appreciate people's (more recent) thoughts on this as the issue

[2018-02-22 22:44] tanyagray commented on #64
This has been fixed and published on npm as of `v5.0.0`, thanks @nhaesler 👍

[2018-02-22 22:44] #64 closed

[2018-02-22 22:45] MattMorrisDev commented on #65
Still waiting on this, personally. Haven't bothered to upgrade one my projects to ngrx 4+ because of this issue.  The custom merge function would allow us to fix it our own code, but it seems like it should just be baked into ngrx-store-localstorage itself.

[2018-02-22 22:46] tanyagray commented on #62
Closing due to alternative package recommendation [ngrx-store-ionic-storage](https://github.com/natural-apptitude/ngrx-store-ionic-storage). Thanks @okonon 👍

[2018-02-22 22:46] #62 closed

[2018-02-22 22:50] tanyagray commented on #40
Closing as there is a solution posted by @dinvlad [above](https://github.com/btroncone/ngrx-store-localstorage/issues/40#issuecomment-336283880) and I'm not sure this is something which should be a default part of this package.

Feel free to post any reasons for re-opening if you feel strongly about this 👍

[2018-02-22 22:50] #40 closed

[2018-02-22 22:53] tanyagray commented on #66
Closing as @bufke can confirm this project works with nativescript. Thanks 👍

[2018-02-22 22:53] #66 closed

[2018-02-22 22:54] tanyagray commented on #72
This issue should be resolved as of `v5.0.0` thanks to @nhaesler's PR 👍

[2018-02-22 22:54] #72 closed

[2018-02-22 22:57] tanyagray commented on #75
Thanks @un33k and @bufke :) The PR by @nhaesler has been merged and publish as `v5.0.0`.

[2018-02-22 22:57] #75 closed

[2018-02-23 10:30] jondea commented on #65
@tanyagray the library already allows for custom `serialize` and `deserialize` functions. That's just the non-ideal stopgap solution I suggested to solve the problem.

The primary problem is that the library currently does not have the expected behaviour of doing a full, deep merge between `initialState` and `rehydratedState`. This should be the default behaviour. Whether or not the library allows

[2018-02-28 14:43] cwayfinder opened #83 "Add lifetime into the config"
It's obvious that state saved in the local storage may become outdated.

Maximum lifetime for the cache in my application is 30 min. I would like to have an option to pull an actual state from server by timeout.

[2018-03-17 06:16] pedep commented on #80
Not sure if there is an "easy" way to have access to the initial state of all reducers, but adding an `initialState` object to `LocalStorageConfig`, and then merging this object with `state` and `rehydratedState` in the initial action might be the easiest until a better solution is found.
Not sure if this solution would be satisfactory, but it solved the issues i were having.

[2018-03-21 09:37] Angelo510 opened #85 "system.js configuration"
Hi

I tried to add this library with system.js project - https://github.com/steveblue/angular2-rollup and not sure how to configure in system.config.js.
I added this this code snippet to system.config.js
`'ngrx-store-localstorage': 'lib:ngrx-store-localstorage'`
and also `'ngrx-store-localstorage'` to ngr.config.js in dep.lib.
But I can't successfully load this package since this has not correctly

[2018-03-21 10:00] Angelo510 commented on #85
Fixed by adding `'ngrx-store-localstorage': 'lib:ngrx-store-localstorage/dist/index.js'` instead of `'ngrx-store-localstorage': 'lib:ngrx-store-localstorage'`.

[2018-03-21 10:00] #85 closed

[2018-03-22 09:30] pedep commented on #65
@jondea Do you think simply adding [ `deepmerge`](https://github.com/KyleAMathews/deepmerge) would be enough, or would you prefer another implementation?

[code]

[2018-03-22 15:13] jondea commented on #65
It is probably enough for most people (me included), and it is a very sensible and natural feature.

Whether other people **also** want the added functionality to provide such a custom function, I don't know.

[2018-03-23 15:56] k-schneider commented on #73
This also affects the angular-cli "app shell" feature.

[2018-03-26 13:06] yannickglt opened #86 "Primitive values are unserialized to strings"
My state looks like:
[code]
And I use the metareducer as below:
[code]

It causes issues because it will create three different entries in the localStorage with the respective values `"John"`, `"12"` and `"false"`.  During unserialization, these entries will remain strings as `JSON.parse('12')` will equal `"12"`.

A possible alternative is to avoid storing primitive values, but it is quiet hard to

[2018-04-03 20:14] GuillaumeUnice opened #87 "NgRx store IndexedDB?"
Is there a way or an adapter to use indexedDB instead of the localstorage? Because, I have a memory limitation issue.

Is there a way to just change that or not easily?

Thanks for all

[2018-04-04 15:44] yannickglt commented on #87
Hi,
You might want to use [ngrx/db](https://github.com/ngrx/db) instead? It's still experimental but looks to have a lot of users.

[2018-04-04 16:18] firehist commented on #86
Any update regarding this issue?

[2018-04-04 16:31] GuillaumeUnice commented on #87
Yep I know but like you said it's experimental (authors don't want we use it) and is not so popular like ngrx-store-localstorage, I even the impression it's deprecated no owner activity for some time.

I don't really know if it contains the same functionnality today?

[2018-04-26 12:51] filipvh opened #89 "If a null is stored, it should be looked upon as an object"
If null is stored in a separate key/value it should be considered an object.
Otherwise it will become a string :(

See pull request
This is a fix for the bug
#88

[2018-04-28 00:09] MrSnappingTurtle opened #90 "Update to Angular 6"
Angular 6 is out. Is there any ETA on a new release of `ngrx-store-localstorage`?

 ~in the release candidate phase and should be stable soon. Would be nice if there was a beta release of `ngrx-store-localstorage` that targets the latest Angular RC.~

https://github.com/angular/angular/releases

[2018-05-14 06:59] arutkowski00 commented on #87
It'd be nice if ngrx-store-localstorage could support localForage/localForage.

[2018-05-14 07:02] arutkowski00 commented on #90
Version 5.0.0 actually works for me without any hassle. If I am not wrong, a simple test and version increment would be enough.

[2018-05-23 17:02] k-schneider commented on #90
Ngrx 6.0.x final is now out so hopefully this update can happen soon?

[2018-05-24 03:40] darbio commented on #64
@nickwinger do you have an example of this working for you? I have the same problem with `v5.0.0`

[2018-05-25 16:11] gssjr opened #91 "How to save only part of deeply nested state"
How do I save only the grandchild state in config? `{keys: [{parent: {child: ['grandchild']}}]}` doesn't seem to work

[code]

[2018-05-29 10:48] Fiontan opened #92 "Sample implementation including Feature modules"
Very interesting project thanks for your efforts so far. I note in the issues that there are a few related issues around syncing and usage with feature modules. The Feature module documentation is far from ideal as has been mentioned. I am currently trying to implement it and am having issues with the configuration for an AOT implementation. If the documentation was made more comprehensive and cle

[2018-05-29 14:54] StAn187 commented on #90
@arutkowski00 I don't think this is an angular 6 issue, it's AOT afaik. I did a test upgrade to Angular 6 and ngrx store 6 and it seems to work.

I attach the meta reducer via the META_REDUCERS provider token (as documented [here](https://github.com/ngrx/platform/blob/master/docs/store/api.md#injecting-meta-reducers)) like this

    providers: [
        // ...
        { provide: META_REDUCERS, use

[2018-05-29 17:50] arutkowski00 commented on #90
@StAn187 Yep, I figured it out by myself, I forgot to update.

[2018-05-31 19:11] bmalinconico opened #93 "Bug with Lazy Loaded feature modules"
Hello,

The following PR introduced a bug related to lazy loaded feature modules: https://github.com/btroncone/ngrx-store-localstorage/pull/76/files

The net effect of this PR is to re-hydrate the state when every feature module is loaded, and this breaks sections of the state which are selectively serialized  (`localStorageSync({keys: [{todos: ['name', 'status'] }, ... ]}))`).

The result is the

[2018-05-31 19:28] Matmo10 commented on #65
Yeah, just to clarify, I don't really care about the custom merging function itself. I just want the deep merge to be the default behavior. The custom merge function was just my way to accomplish that. Almost wondering if I should change the thread title at this point :)

[2018-06-04 18:12] philjones88 commented on #93
I’ve just hit this too

[2018-06-06 12:19] cdupetit commented on #91
Same question for me.

[2018-06-07 13:31] bmalinconico commented on #93
@btroncone Sure, I think the biggest risk of my PR is the kinda "stupid" way it determines the state key name ` const name = Object.keys(key)[0];` What do you want me to do beyond deal with bugs I create myself? :)

[2018-06-07 21:00] btroncone commented on #93
@bmalinconico Really looking for another extra set of eyes that is using this library every day. Need help determining priority and impact of some of the proposed PR's / issues.

[2018-06-07 21:12] tanyagray commented on #93
I pulled it down but had problems getting the tests running. I'm also hesitant to merge anything that's untested cos I'm not a "regular" user as such. I do use feature modules though so maybe @bmalinconico we could collab on this one? Happy to live chat elsewhere.

[2018-06-07 21:15] btroncone commented on #93
@tanyagray Agree, definitely want to be careful here. Thanks for taking a look! 👍

[2018-06-07 21:21] Fiontan commented on #3
Hi I'm seeing  a potential problem with moment dates. I cannot seem to find anything similar- does anyone know of an info?

[2018-06-08 10:45] bmalinconico commented on #93
@tanyagray I'd be happy to collab on this if we can find time. I'm on the east coast of the USA and am really only on during work hours.

[2018-06-09 20:05] StAn187 commented on #90
@plisovyi, yes. Seems so. I updated to Angular 6 two weeks ago and everything works well.

[2018-06-11 16:27] magnattic commented on #93
Is there a workaround or older version to revert to? I just introduced lazy loaded modules to my project and this resets my state when loading the module.

[2018-06-11 17:01] bmalinconico commented on #93
@magnattic My PR (https://github.com/btroncone/ngrx-store-localstorage/pull/94) works for my use-case and I'm using it in production.

In your package.json
[code]

However I started by reverting to 0.3.0 and that worked for me too but had its own issues relate to feature modules.

[2018-06-12 10:59] magnattic commented on #93
Thanks for providing your PR. Unfortunately I can't get it to work with my setup:
I  get an

in `mergePartialStates`, this is the line:

`keys.map(function (key) { return newValues_1[key] = rehydratedState[name_2][key]; });`

[2018-06-12 13:06] bmalinconico commented on #93
@magnattic I see what is wrong, and can update the PR. It looks like you serializing the entire `shop` and `checkout` state?

If you are I'll make a small adjustment, but if you are serializing the whole state you are probably running into a different problem then I was trying to solve.

[2018-06-12 13:17] bmalinconico commented on #93
@magnattic updated my branch, give that a try. PR hasn't updated yet.

[2018-06-12 14:34] magnattic commented on #93
Thanks, this removes the error, but still overwrites my State when the feature module is loaded.

_This is my scenario:_

- I have 3 keys in my state: `shop`, `checkout` and `offerData`
- `checkout` is part of my feature module and is being lazy loaded.
- I use custom serializers/deserializers for `shop` and `checkout` (as shown above)
- I **don't** want to store `offerData` in localstorage, as th

[2018-06-12 18:59] bmalinconico commented on #93
@magnattic So the problem is how do we determine when to partially overwrite the state from localstorage, and when do we perform a merge.

The current rules are:
* If rehydration is a string or object (your case), we replace the state with local storage
* If rehydration is an array, we only replace the strings in that array.

If it is a object and custom serializers/deserializers are used, how do

[2018-06-13 11:44] magnattic commented on #93
@bmalinconico I realized I misrepresented my scenario, I updated my comment above.

Sorry if I am missing something, but why can't we simply do something like this?

[code]

Use the rehydratedState where possible and if a property is missing somewhere, add it from the existing state. This is working recursively.
(I am using lodash here, but I guess the function could be replicated to remove the de

[2018-06-13 12:57] bmalinconico commented on #93
I feel like, if you are rehydrating the entire section of a state an undefined value coming from localstorage should be respected. We should only do a deep merge when you are selectively rehydrating keys.

We should also be careful to ensure we are only duping one level deep, unless a true deep merge is what we are after.

Either way these are behavior choices I'll leave up to owners.

[2018-06-13 18:29] bmalinconico commented on #93
@magnattic ah I didn't see the `filter` property on that object, perhaps that could be used to control the behavior.

[2018-06-15 11:32] magnattic commented on #93
I am still massively confused by the whole thing. Why are we even touching the whole state when a feature module is loaded? The 'update-reducers' action has a property `feature` where it states which feature is being loaded, so why are we not limiting our rehydration to that slice of state? Why would we be overwriting or merging anything from localstorage a that point that is not part of the featu

[2018-06-18 05:09] voidek-work commented on #93
"ngrx-store-localstorage": "https://github.com/bmalinconico/ngrx-store-localstorage.git#fix_partial_rehydration_of_keys_dist",

Hi, I tried to put this PR when I noticed that my lazy loadable modules get the default state instead of the saved one. Everything worked as it should, but as soon as I connected one more module everything broke. Sorry my English :)

[2018-06-18 12:03] bmalinconico commented on #93
@magnattic So the reason inevitable is how NGRX gets a feature module bootstrapped. See this line: https://github.com/ngrx/platform/blob/cb473c00475289509f0924321bb293d0ad1137ca/modules/store/src/reducer_manager.ts#L73

When a new feature module is bootstrapped, it isn't bootstraping with an initial state of what is currently in the state, it bootstraps with an initial state of what is provided vi

[2018-06-18 12:42] voidek-work commented on #93
@bmalinconico If I get you right...
this working:
[code]
not working:
[code]
layout - state not lazy feature module.
authContainer, admin - state lazy loading feature module.
for example auth module.
[code]

if I rehydrate only lazy modules, then state reset to default.

[2018-06-18 13:02] bmalinconico commented on #93
@voidek-work I don't see any reason in my patch for why the lack of the `'layout'` key itself is special.

[2018-06-18 13:08] voidek-work commented on #93
@bmalinconico
Unfortunately, I'm just getting acquainted with the technology, so I'm not sure exactly what the problem is. But the essence I described. In any case, thanks for the fixes

[2018-06-20 15:27] dstj commented on #91
Can someone confirm that @x3igh7's solution works? I've haven't been able to get it to work even after fixing the typo (it's missing a closing bracket for `child`).

[2018-06-22 10:34] maxkuzmin commented on #91
@dstj that is working for me

[2018-06-22 15:33] paviad commented on #73
I think this is very important

[2018-06-26 06:35] hhu94 commented on #65
I was happy to find ngrx-store-localstorage today as it's exactly what I need, but I'm confused about why deep merge is not the default behavior. Took some head scratching before I came to github issues to find this issue filed.

Is there a reason why the change @pedep suggested hasn't been implemented yet? I can submit a PR if necessary.

[2018-06-26 13:25] santhoshrajuvysyaraju opened #96 "not syncing with local storage for feature module"
Hi ,

i have tried to sync the store with following code. but it is not synching.

Please see the code.

[code]

here is my  call in imports.

[code]

the main problem is it is not giving any error. it is not synching the store with local storage tried using feature module.

but it is fine working in root module.

help me to solve the issue.

[2018-07-03 18:45] LeoCreer commented on #87
https://github.com/pubkey/rxdb

[2018-07-06 13:04] bufke commented on #83
This would be a nice feature. In the meantime you can do it with a deserializer. I have something like this

[code]

where lastOpened is the date the app was last interacted with.

[2018-07-19 13:38] bufke commented on #65
https://github.com/btroncone/ngrx-store-localstorage/pull/15 solves the problem for me - issues where I change my state tree shape and reviving it creates "impossible" states that lead to unpredictable behavior. I will continue testing it in my own app.

IMO we should add tests to prove effectiveness to the existing PR and merge it. I'd be happy to help add a test if this is the desired way we wan

[2018-07-21 15:08] duard opened #97 "It load the wrong data (strange)"
I'm using this to persist my data :

[code]

If I dispatch the action LOGIN with user ADMIN
and after that, logou, and after that LOGIN with user TESTE
when a refresh the page (F5) it get the user ADMIN and his token
the correct would be the TESTE user, who logged last.

[2018-07-27 19:14] MrSnappingTurtle commented on #90
Closing since this was fixed under #95

[2018-07-27 19:14] #90 closed

[2018-08-10 08:45] vileanco opened #98 "JSON.parse throws error for invalid JSON"
If local storage contains invalid JSON object, for example {hello":"world"}, JSON.parse throws an error which is not handled by ngrx-store-localstorage. Should this error be handled within the library or should it be responsibility of the user of the library?

[code]

Affects ngrx-store-localstorage@5.0.1 with Google Chrome version 67.0.3396.99.

One way to solve this issue would be to allow user

[2018-08-13 10:01] inthegarage opened #99 "Encrypt supported?"
I am trying to use the encrypt functionality that is meant to be in the main branch.
However when I supply the following line to the localStorageSync, the config is not recognised:

`  return localStorageSync({keys: ['bookings'],  bookings: { encrypt: encryptFunction, decrypt: decryptFunction } })(reducer);`

Looking at the interface LocalStorageConfig, I don't see this mentioned. What is the curr

[2018-08-16 18:52] topaxi commented on #78
Came here for the exact same use-case. :+1:

[2018-08-16 21:08] therawk commented on #78
Hi!
It looks like the OP isn't active or doesn't bother anymore.
I'm up for a fork and make it customizable.
Would be my first project so I'd need some help. Would definitely suit all our CV's.
Wouldn't mind contributing to this Git either.
So anybody who is up for this, please stand up 😃

[2018-08-16 22:09] bufke commented on #78
@btroncone what do you think of adding more contributors with merge access? I'm happy to review pull requests and I can tell people to add tests and keep up on code quality.

[2018-08-16 22:44] btroncone commented on #78
Sure, thanks! Sending your invite. 👍🏻👍🏻

[2018-08-16 22:47] btroncone commented on #78
@therawk Would you be interested in being a collaborator as well?

[2018-08-17 07:53] therawk commented on #78
I am indeed. There's lots of potential in this project imo

[2018-08-17 10:07] btroncone commented on #78
Awesome! Invite sent to both of you 👍🏻 @bufke @therawk

[2018-08-17 13:37] ernestomancebo commented on #98
You can specify the JSON parsing function when specifying the state key in the configuration as an object passed to the `localStorageSync`. You must pass a `serialize` and `deserialize` function to accomplish this as follow:

[code]

[2018-08-17 13:48] ernestomancebo commented on #99
The keys array only contains the state name, you should specify the bookings object inside the array. See bellow:

`return localStorageSync({ keys: [bookings: { encrypt: encryptFunction, decrypt: decryptFunction } }])(reducer);`

[2018-08-17 14:01] vileanco commented on #98
I also thought so but it seems that the raw data is put through JSON.parse before deserializer is called, therefore it will still give an error even if I give it my own jsonDeserializer.

https://github.com/btroncone/ngrx-store-localstorage/blob/master/src/index.ts

starting from line 92:
[code]

[2018-08-17 14:04] inthegarage commented on #99
@ernestomancebo Thanks very much.

[2018-08-17 14:12] inthegarage commented on #99
@ernestomancebo  That is working me, thank you.

[2018-08-17 14:12] #99 closed

[2018-08-17 14:41] ernestomancebo commented on #98
I got your point, but if you see closer to the lines 127, then the 183, you can see that first serialize then stringify and then when retrieving the state, should do the inverse and it's what you point out: parse then deserialize. Somehow the string-stored state is being corrupted or you're generating a string by yourself from an object (then passing the condition in line 181), which is why is not

[2018-08-17 14:47] ernestomancebo commented on #97
Did you tried to logout on TESTE user then login, then refresh to see if the token is the belonged to the TESTE user?

Either way, if you don't mind, I'd like to see the log in and log out reducer.

[2018-08-17 15:19] ernestomancebo commented on #96
Try passing an initial state to the third argument

[code]

or to the forRoot module.
[code]

[2018-08-17 15:39] ernestomancebo commented on #86
You could pass a `reviver` function that parses the non-string keys.
Assuming that the state slice is called `person`, it should be something like this:

[code]

[2018-08-17 16:07] vileanco commented on #98
Yes, the string in local storage was corrupted by a user (using browser dev tools) which then caused JSON.parse to throw error and the whole application not to work.

So if I want to store my data as JSON string in local storage, there is no way to avoid this issue. This is because of condition `isObjectRegex.test(stateSlice.charAt(0))` so no matter if I pass deserializer or not, JSON.parse will b

[2018-08-17 18:14] ernestomancebo commented on #98
any toughs @btroncone ?

[2018-09-04 14:56] ilennert commented on #52
Well ok, that's one scenario.  What if you have already defined metaReducers as:
[code]

[2018-09-06 16:56] pedep commented on #65
Sorry its been a while - Actually thought i pushed a PR back when i made my original comments.

I actually just ended up hacking in a merge in the beginning of my reducers, so i kinda forgot about the issue
[code]

I put up the snippet from earlier in the thread for review here https://github.com/btroncone/ngrx-store-localstorage/pull/100

[2018-09-07 07:39] EugenAz commented on #91
Doesn't work for me.

My store looks like this:
[code]
and configuration:
[code]

As a result in localStorage i see the key `store-cache.parent` and its value is `"{}"`

What do i do wrong?

[2018-09-11 01:56] ilennert commented on #93
Basically this renders this mechanism for restoring my state, useless... I don't understand what is happening but I know this is the cause.  If I remove the persistence my problem goes away, unfortunately, so does my persisted state...  Is anyone planing on fixing this problem?

[2018-09-11 12:36] bmalinconico commented on #93
@ilennert I have been using my fork in production for a few months now and it is working fine. Please give it a try and report back any issues you encounter and I'll make an effort to fix them.

The collaborators are not really responding to this PR...

[2018-09-19 04:49] sainture commented on #65
@pedep the above solution fixed my issue but still waiting for the library to have deep merge setup by default.

[2018-10-05 11:07] Platonn opened #101 "Lack of encrypt/decrypt documentation"
Hi there!

I can see that encrypt/decrypt feature it's [already implemented](https://github.com/btroncone/ngrx-store-localstorage/blob/4f629bc25afc9ca7e911372b0374c66b0a3d11eb/src/index.ts#L61). However, I have problem to find a documentation for it.

So maybe it would be good to update the [documentation of LocalStorageConfig](https://github.com/btroncone/ngrx-store-localstorage#localstorageconfi

[2018-10-19 10:36] msprogramando opened #102 "Need Help - Store not stored"
Dear Devs, please help me. I am sure you know exactlly what I am doing wrong.
I cannot store the state and I can't find it in the localstorage.

I added this to my app.module.ts
-> BTW: I had to replace <IState> with <any> to not getting an error.

`const reducers: ActionReducerMap<any> = {languageReducer};

export function localStorageSyncReducer(reducer: ActionReducer<any>): ActionReducer<any> {

[2018-10-20 05:38] msprogramando commented on #102
It seems the localStorageSync will never get reaced.
![bildschirmfoto 2018-10-20 um 07 36 28](https://user-images.githubusercontent.com/34470448/47251882-fd707f00-d43a-11e8-83f7-5e07c09b46f3.png)

[2018-10-24 10:32] vvolodin commented on #65
What is preventing this issue from being fixed for more than a year? Any help needed?

[2018-10-29 13:14] whtrbit opened #103 "Data not stored in LocalStorage"
Hi all,
I have a problem with syncing the store in LocalStorage. First of all I have to mention that it is not a standard client-side Angular application. My app uses PHP server side rendering and Angular as modules that are lazy loaded. We use multi-page embedding strategy described here: https://blog.novatec-gmbh.de/angular-2-in-a-multi-page-application/

So the main PHP routing is done without

[2018-11-05 15:58] bmalinconico commented on #93
@pedrofurtado Please see my fork and report back issues with it.

[2018-11-05 16:11] ilennert commented on #93
As of 2 months ago the fork you provided me didn't work, had you presently updated?

[2018-11-05 17:11] pedrofurtado commented on #93
@bmalinconico Ok, thanks for feedback! I will test the fork :+1:

[2018-11-15 11:17] santhoshraju621 opened #104 "is this work with angular 7"
Hi i am trying to migrate from angular5 to 7. i used  ngrx-store-localstorage this package. while upgrading to angular 7 it is giving the following error.

    Package "@ngrx/store" has an incompatible peer dependency to " @angular/core" (requires "^6.0.0", would install "7.0.4")
    Package "ngrx-store-localstorage" has an incompatible peer dep
endency to "@ngrx/store" (requires "^4.0.0 || ^5.0.0

[2018-11-23 10:33] daandvs commented on #104
You should try to first remove your node_modules before running `ng upgrade`

[2018-11-27 13:37] w-inter commented on #102
same issue here.

[2018-11-29 07:53] msprogramando commented on #102
No solution found yet

[2018-12-20 21:02] dstj opened #105 "@ngrx/store 7.0.0 compatibility?"
Hi, I'm upgrading to NGRX 7.0 and I'm getting this warning:

[code]
Is `ngrx-store-localstorage` compatible with NGRX 7 and it's just a matter of updating the version requirements?

[2018-12-31 03:20] bufke commented on #105
rehydrate seems broken with ngrx 7. Can anyone else confirm this?

[2018-12-31 18:10] bufke commented on #65
Does this fix solve this problem? https://github.com/btroncone/ngrx-store-localstorage/pull/107

It feels to me there are many semi related issues about this.

[2019-01-01 19:38] #105 closed

[2019-01-01 19:42] bufke commented on #105
This is resolved and just needs released to npm. Several people have mentioned it working in ngrx/store 7 so I think we are good to release. @btroncone fyi.

[2019-01-01 19:44] btroncone commented on #105
@bufke Thanks for the help, I’ll release tonight! 👍👍

[2019-01-02 13:10] Zeetah commented on #105
Still waiting on the npm release @btroncone

[2019-01-02 13:38] btroncone commented on #105
This should be out now @zeetah, sorry for delay!

[2019-01-08 16:12] rafa-as commented on #73
@btroncone what do you think about this?

[2019-01-10 19:57] moniuch commented on #65
To those subscribed to this issue (myself very interested in it)
Deep merge should IMO definitely be a default behavior. As to why the merge does not honor the default state but instead overwites it with the local partial, I made a quick experiment and left a comment here.

https://github.com/btroncone/ngrx-store-localstorage/pull/107#issuecomment-453172268

[2019-01-11 08:56] Sturgelose opened #109 "Changelog for v6.0.0?"
Is there any Changelog for v6.0.0? Also, I assume this version aims to be compatible with RxJS v6.0.0, no?

[2019-01-11 10:52] moniuch opened #110 "Incomplete states on rehydration and lost pieces of state"
On 6.0.0 now and I still have the problems with the shape of the state after rehydration.

My state looks like so:

[code]

What I want to keep in local storage is:
- from the **app** slice: `language`, `deliveryParams` (prefereably just `deliveryZip`, but let's simplify)
- from the **orders** slice: `orderTokens` and `lastViewedId`

So I have the `keys` specified as follows:

[code]

which is sav

[2019-01-11 15:15] whisher opened #111 "ERROR TypeError: Cannot assign to read only property 'auth' of object '[object Object]'"
Hello there,
I've got this ugly error using rehydrate: true
with **"@ngrx/store": "^7.0.0",**

[code]

[2019-01-11 15:19] bufke commented on #111
Is this only with version 7? ie it works fine for you previously?

[2019-01-11 20:39] dstj commented on #110
I have the same problem with 6.0.0 too. When refreshing the browser (i.e. `F5`), the state in the localStorage is back to the initial value. It works with 5.1.1. My config is pretty simple:

[code]

[2019-01-11 20:40] dstj commented on #109
Indeed, and a migration guide perhaps, because my state rehydration stopped working since I upgraded to 6.0.0 today (see [this issue](https://github.com/btroncone/ngrx-store-localstorage/issues/110))

[2019-01-12 14:01] whisher commented on #111
@rafa-as Yes I've got ngrx-store-freeze in my project

[2019-01-12 15:19] victor-ca commented on #111
one moment, pls i'll put a PR on this

[2019-01-12 17:04] victor-ca commented on #111
hello, this particular issue culprit are these lines;
![image](https://user-images.githubusercontent.com/32337426/51075713-37e36400-1698-11e9-9828-ec1c1d28a878.png)

but to fix that i have some questions regarding behavior,  @btroncone could you please help me out on these:
1.  what should happen if we have an inital state and a hydrated state with type mismatch, for example
[code]

2.  what shoul

[2019-01-12 19:01] rafa-as commented on #111
@whisher the error is not on the freeze side is on this library. Check this comment: https://github.com/btroncone/ngrx-store-localstorage/pull/107#issuecomment-453474894

[2019-01-12 19:30] btroncone commented on #111
Is there agreement that it would be better to revert and cut a new release?

[2019-01-12 20:05] victor-ca commented on #111
Hello Brian, first of all thank you for the library, it saved us a lot of time.
I think it makes sense to revert it; a solution for everyone might require deep-merge;

in my project i'm using a combo of deep merge and custom serializer, and during deserialization i ditch the stored state if it doesn't match appVersion; this way one doesn't have to deal with the decision when a certain state slice

[2019-01-12 20:33] btroncone commented on #111
@victor-ca Thanks, if there are no strong objections I’m going to revert tonight as a 7.0 release. We can explore options like above as part of a next release. Does this work for you @bufke?

[2019-01-13 16:02] bufke commented on #111
Working on a fix here https://github.com/btroncone/ngrx-store-localstorage/pull/113 up to you if we should just fix or revert it. It **should** be a rather simple fix but I'm getting that strange error with the unit test complicating it.

[2019-01-18 11:28] JohnKis opened #115 "Rehydrate should do a deep merge only on existing keys"
On 6.0.0 the rehydrated state is incomplete when the store schema changes. There is a PR to fix this (#114) however there is a scenario it doesn't cater for, and it was suggested that this scenario should be documented in a new issue.

### Scenario
If a key has been removed from the store's `initialState` but still included in the saved state in local storage, the rehydrated state will include the

[2019-01-18 19:55] moniuch commented on #115
@JohnKis Do you perhaps have your config (LocalStorageConfig) at hand?

[2019-01-19 18:05] moniuch commented on #115
Thank you so much!

@bufke David, what would you say if we provided an issue template with instructions for the users who want to submit a bug ticket, asking them to provide their config and actual/expected state?

[2019-01-19 21:46] moniuch opened #118 "Attempt to call toJSON"
### Discussion

As per [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify#toJSON()_behavior), if an object has a `toJSON()` method, it will be called when calling JSON.stringify on that object.

Currently, the code in ngrx-store-localstorage does not make any attempt to call it.

This would mean something along these lines:

[code]

I would like t

[2019-01-19 21:48] #118 closed

[2019-01-19 21:48] moniuch commented on #118
closing. doesn't make sense.

[2019-01-20 10:59] moniuch commented on #115
This case is a bit disputable to me. IMO, with this config, we should not expect that `nestedKey3` should get deleted.

While rehydrating, we are only told that we should pick and apply `['key1', 'key2', 'key3']` - that implicitly means to me: "whatever they contain". Even though `initialState` only contains

[code]

doesn't mean that `nestedKey3` would be illegal. After all your state at `key1` m

[2019-01-21 08:11] moniuch commented on #115
What I wanted to say is that there is no way AFAICT to tell, while rehydrating the state from local storage, which keys may are missing by intention and which by not being populated yet. To my understanding, the only way of conveying the intention is `config.keys`. But here I will surrender to the knowledge of others which have been much longer in this project than myself. Might be that my underst

[2019-01-23 10:36] moniuch commented on #109
@dstj Please try 7.0.0 which was released two days ago. It contains #114. Hope it fixes your prblems. Let us know if it doesn't.

@btroncone Isn't this ticket actually one for having the changelog generation automated in this project?

[2019-01-23 14:36] dstj commented on #110
Seems fixed with the merge of #114 (and release of 7.0.0)

[2019-01-24 08:41] zack9433 commented on #93
#114 this pr causes a side effect when lazy load feature module happen.

[Using deep merge return a new state object](https://github.com/btroncone/ngrx-store-localstorage/pull/114/files#diff-f41e9d04a45c83f3b6f6e630f10117feR254) will trigger unexpected changing detection.

There is a demo:
https://angular-v5rdlk.stackblitz.io

Printing `test state change` string in the console when you click accou

[2019-02-03 21:04] dcanning commented on #55
@akrueger What did you pass in for the storage option to get this to work with session storage?

[2019-02-06 19:24] chikakow commented on #93
So I have main root state and a lot lazy loaded modules with feature states.  I just need to store root state on local storage.  So I'm doing
return localStorageSync({keys: ['appState'], rehydrate: true})(reducer);

But I realized this breaks lazy loaded modules states.  When I refresh a container component page that dispatches a bunch of load actions, the state should be loaded but instead state

[2019-02-09 17:50] bufke commented on #73
Hmm no solution seems ideal. Typically one would inject isPlatformServer into a module/component and disable the functionality that doesn't run on node. The try...catch solution would hide valid errors too. The domino solution is quite heavyweight to just effectively disable some code.

Does anyone know of a way to check the server platform outside of a module? The check needs to happen in the loc

[2019-02-10 18:52] bufke commented on #73
I think this is a better way to support it. Just add it conditionally to the metareducers if `window` is undefined. For example:

[code]

If this works for people - I think the best solve is to just document not to add the meta reducer when running in node. I can't think of any reason someone would want localstorage sync to happen server side.

[2019-03-05 20:32] Empereol commented on #93
@chikakow , are you registering the `localStorageSyncReducer` as part of the meta reducers on your root store module (ie: `StoreModule.forRoot(reducers, {metaReducers: [localStorageSyncReducer]}`)?

I was having this issue when I was adding the `localStorageSyncReducer` to the meta reducers of a `StoreModule.forChild()`. Once moving it to the root store, it worked fine and storing just the keys I

[2019-03-07 14:45] batousik opened #119 "Rehydrate not working or lacks documentation or not supported yet"
NGRX/Store 7.3.0
ngrx-store-localstorage 7.0.0

Please explain how does the info get rehydrated from localstorage

When I hit refresh I get store and effects init actions that override data in store with default values, and data from localstorage gets overriden with them as well.

Expected behavior as i thought from the readme is that ngrx-store-localstorage rehydrates these values upon browser re

[2019-03-08 11:53] larscom commented on #91
@EugenAz I have exactly the same, it doesn't work for me..

[2019-04-03 13:09] dimitriy-k opened #120 "rehydratedState is not recalculated on UPDATE_ACTION"
rehydratedState is defined only on INIT_ACTION, when localStorage is updated and then lazy-module is loaded UPDATE_ACTION, called and old state (rehydratedState from INIT) is used.

`
 if ((action.type === INIT_ACTION || action.type === UPDATE_ACTION) && rehydratedState) {
      nextState = merge({}, nextState, rehydratedState);
}
`

Use case:
1. Login => token is saved in localstorage
2. Reload t

[2019-04-03 13:49] dimitriy-k commented on #120
can you move https://github.com/btroncone/ngrx-store-localstorage/blob/master/src/index.ts#L233
to line 252, so `rehydratedState` always recalculated

or change the order to
`nextState = merge({}, rehydratedState, nextState);`
in that case some tests will fail

[2019-04-05 21:15] MrSnappingTurtle commented on #120
Having the exact same use case and issue.

[2019-04-06 14:15] ilennert commented on #93
@Empereol, Yes ths was exactly my problem and moving it to "forRoot" StoreModule has fixed my code!

[2019-04-09 08:39] dimitriy-k commented on #120
Hello, anyone?.... is that project dead?

[2019-04-10 16:33] bufke commented on #120
It's not dead but no one is actively working on it that I know of. btroncone is still doing release when pinged. If you can make a Pull Request that clearly demonstrates the problem in a test and a fix that makes the test pass I could review it when I find some time.

[2019-04-10 18:11] dimitriy-k commented on #120
@bufke I have tried to create pull request, but I do not have permissions for this repo

[2019-04-10 18:25] btroncone commented on #120
@bufke Is correct, we are not actively adding new features but we are trying to keep the project stable as best as possible. @dimitriy-k you shouldn't need permissions to create a pull request, only to merge PR's. Let me know when you have this available, thanks!

[2019-04-10 18:55] dimitriy-k commented on #120
@btroncone I am not able to push new branch, how can I create pull request?

[2019-04-10 19:03] MrSnappingTurtle commented on #120
@dimitriy-k Have you forked the project? I don't see it in your GitHub profile. Make sure you're not cloning this project but rather made a fork and cloned that.

[2019-04-10 19:03] btroncone commented on #120
Hello @dimitriy-k , you would create a fork of this repo, make your updates, then create a pull request. Please see this explanation for additional details, thanks! https://help.github.com/en/articles/creating-a-pull-request-from-a-fork

[2019-04-11 14:49] dimitriy-k commented on #120
looks like UPDATE_ACTION is not needed at all

https://github.com/btroncone/ngrx-store-localstorage/pull/122

[2019-04-18 13:35] Hainesy commented on #64
I'm on v7.0.0 and experiencing the same problem.

[2019-04-18 14:03] Hainesy commented on #64
I'm solving with the following:
[code]

[2019-04-19 07:17] dimitriy-k commented on #120
@bufke can you review PR?

[2019-04-23 13:03] KlapTrap opened #123 "Security alert for lodash dependancy version"
See https://app.snyk.io/test/npm/ngrx-store-localstorage/7.0.0 for the report.

[2019-04-23 14:59] whittet opened #125 "keys: *"
Please provide guidance on how to setup all keys be stored by default. Alternately, let us know what criteria you use to decide if a key should be kept. It would be nice to have this as an intelligent default. Thank you!

[2019-05-25 14:13] bufke commented on #123
Related issue. https://github.com/championswimmer/vuex-persist/issues/114

Ideally we'd just not use lodash at all. But implementing a deep merge function is not trivial. I looked at lodash-es but it requires a lot of complicated webpack set up to get any actual benefit. Open to suggestions here.

[2019-05-27 07:25] nsklyarov commented on #125
keys: Object.keys(initialState)

[2019-05-27 14:13] bufke commented on #123
I recommend we solve this by switching to deepmerge instead. However this would require testing and validation from the community.

[2019-05-28 19:53] bufke commented on #123
@KlapTrap would you be interested in trying out the deepmerge branch and verifying it works as expected? I'd like as much review on this as possible.

[2019-06-04 13:00] PhilippMeissner commented on #119
Did you proactively set `rehydrate` to `true` in your config? If not, it defaults to `false` and will act as if the entire package was not used at all.

[2019-06-05 11:04] Jonnyprof opened #128 "Rehydratation changes all store references on UPDATE_ACTION"
When rehydrating store in lazy load feature, changes the references of all store object and this mean that *all the subscriptions are fired without changes in the store*. This subscriptions are fired several times if you have a preload strategy (such as feature modules are loaded).

I've created a minimal project to show this behaviour:
https://stackblitz.com/github/jonnyprof/ngrx-localstorage-tes

[2019-06-05 13:43] nicolaspierre1990 commented on #101
You ever managed to figure it out ? Having the same problem

[2019-06-07 06:34] rafa-as commented on #128
please @btroncone can you check this?

[2019-06-07 22:22] dstj opened #129 "Support for nrgx 8 / Angular 8?"
Hi,

ngrx 8.0.0 has a minimum dependency of Angular 8

But ngrx-store-localstorage does not support it yet:

[code]

Any plans to update?

[2019-06-14 13:51] fskaeh opened #130 "Rehydrate adds a root state element to my store"
I have an app where the state is shaped like this;

`{
    locations: {
        searchLocations: [...]
        editLocation: {...}
    }
}`

For this state, I have an ActionReducerMap passed in StoreModule.forRoot in AppModule:
`export const reducers: ActionReducerMap<IAppState> = {
    locations: fromLocations.reducer
};`
`export function reducer(state: ILocationsState | undefined, action: Action

[2019-06-19 09:27] KlapTrap commented on #123
@bufke Sorry for the late reply. Thanks for look into this. We've been using https://github.com/cf-stratos/ngrx-store-localstorage/tree/lodash-dep-update as a temporary work around. I'll look into switching to the deep merge branch today and get back to you asap.

[2019-06-19 18:05] isaacplmann commented on #129
It looks like the peer dependencies have been updated in package.json, but we need a new version pushed to npm.

Thanks!

[2019-06-19 22:10] btroncone commented on #129
Just cut a new release for this, it should be available now 👍

[2019-06-19 22:10] #129 closed

[2019-06-21 12:42] BDominik commented on #91
Any solutions?
![kép](https://user-images.githubusercontent.com/1481659/59922999-814b9280-9432-11e9-93ab-dc9a2ae96f75.png)
My state looks like this.
And I only want to store the is_logined, the settings, and the user.
`keys: [{
        app: ['is_logined', 'user', 'settings']
 }],`
If I use it like this I got this error
ERROR TypeError: path.split is not a function

[2019-06-21 13:02] BDominik commented on #91
okay I found the solution, for nested childs I'm using like this
keys: ['app.is_logined', 'app.user', 'app.settings'],

[2019-06-22 00:26] CleverCoder commented on #120
I spent almost all day trying to track down what's causing old state to appear out of nowhere. **This should be considered a high priority security issue,** if multiple people share a browser. It's possible for an affected application to clear out state, even have it synched to storage, only to have the original hydrated state be merged in.
Thank you!!

[2019-06-28 04:32] batousik commented on #119
That worked, thanks!

[2019-06-28 04:32] #119 closed

[2019-07-24 18:23] #73 closed

[2019-07-25 10:06] rafa-as commented on #128
@bufke can you check this please? We can work on it but we need some response to do the PR and merge it.

[2019-07-25 14:04] bufke commented on #123
Fixed in 8.0

[2019-07-25 14:04] #123 closed

[2019-07-25 14:05] bufke commented on #109
I added a changelog for 8.0. Some versions don't have it. Going forward I'll try to maintain one as long as I'm helping on this project.

[2019-07-25 14:05] #109 closed

[2019-07-29 14:39] CleverCoder commented on #120
Well, I discovered today that due to the comments mentioned in the original report (INIT not being called for lazy loaded module metareducers), I needed to re-add the check for UPDATE. A better solution just seems to be to clear out the captured value of hydratedState once it's used. That seems to fix the original issue, but also prevent any accidental re-applying of the restored hydrated state (w

[2019-07-29 19:21] bufke commented on #120
This issue confuses me and I'm not that familiar with the original code base. @CleverCoder are you saying you have an alternative proposed fix different from #122

Is it easy to reproduce these issues? I'm guessing I never have been affected by this because I explicitly clear localstorage on logout. I also always handle server side auth errors by ensuring the user is fully logged out, including cl

[2019-07-29 19:52] CleverCoder commented on #120
Yeah.. in my testing I found that the INIT action wasn't being called for the lazy loaded modules. In fact, I also couldn't find any NgRx reference to help understand the expected lifecycle. What I did observe over again was that for the lazy loaded modules the first action would be UPDATE_ACTION. The original code was merging in the rehydrated state for either originally. The problem I saw was th

[2019-08-07 08:15] dhanraj07 commented on #40
This issue actually exist. Localstorage sync does not update store in application memory as per value updated in localstorge. So when I change store from one tab my localstorage updates. But in another tab the redux (application memory) will still hold the old value. Now if user does not refresh the page and performs some action on site, my localstorage will get updated with the value in redux aga

[2019-08-12 13:15] nshathish opened #133 "Rehydrating lazy loaded feaure modules"

[2019-08-12 13:18] nshathish commented on #133
when rehydrating the session storage data to the state, only features modules that are loaded already have their features stores filled in from the session storage
how to rehydrate everything from the session storage into the state ?

[2019-08-15 17:00] hmendezm opened #134 "Models are not used to cast the values from the localStorage."
Hi Guys,

Thanks for the work in this project. Everything is working. I got the values from localStorage. The problem that I have is that when I got the data from the localStorage and the state is populated, the data is not casting using the models.  Everything is Object type.

is a way to tell ngx-store-localstorage to use the model to cast the values?

Best
Hank

[2019-10-06 23:14] billdwhite commented on #134
Same issue here; It worked fine with the 7.0.1 verison but after updating to 8.0.0, it returns generic Objects instead of my specific types;

[2019-10-10 13:03] rowandh commented on #120
If you want to skip all `UPDATE_ACTION` actions and don't want to wait for this PR to be merged, there's a simple way to do it. Replace your local storage sync reducer with a variant of this:

[code]

[2019-10-10 13:37] rowandh commented on #128
I've been encountering issues related to this and ngrx-router-store. In my case, it's causing a guard that returns a url tree to fail to complete a navigation due to the store emitting changes before the navigation is complete.

Setting `clone: false` in the deepmerge options seems to fix it, but that of course negates the reason for using deepmerge in the first place.

I think a better design wou

[2019-10-11 16:14] broot02 commented on #96
@santhoshrajuvysyaraju

Did you ever figure this out? I am running into the same issue, I believe it is just a configuration issue. But the localStorageSync is never being called for feature modules/stores, but the root module/store is working as expected.

[2019-10-23 08:34] SerkanSipahi commented on #133
1.) You have to make sure to set in you `rehydrate: true`
[code]
and
2.) Registering in the root module:

[code]

[2019-11-20 04:01] BBlackwo commented on #125
Would be nice to have `keys` be optional and if it's not included then it should do all keys by default. I might try and do a PR with that functionality.

[2019-11-20 04:17] BBlackwo commented on #89
This should probably be closed as that PR was merged ages ago 😄

[2019-11-20 21:30] BBlackwo commented on #101
I've added the docs for this in the above PR. Thanks for raising this issue or I wouldn't have known this functionality existed!

[2019-11-26 00:14] BBlackwo commented on #89
@filipvh can you close this issue now?

[2019-12-28 01:59] imolorhe opened #138 "restoreDates implementation is too loose"
Hey there! I use this tool to manage the state of my application in local storage. Recently I have been receiving issues about weird behaviours in my app, and I couldn't really detect the reason for them, until someone was able to give me a step-by-step guide on how to reproduce it, with a sample data. In my app, the user can provide JSON data in a text editor interface, which I store in local sto

[2020-01-13 07:01] SADIK112 commented on #75
can anyone help me how to use the ngrx local storage module to encrypt and decrypt my data.

[2020-01-13 07:04] SADIK112 opened #139 "can anyone help me how to use ngrx local storage to encrypt and decrpt data."
export interface AutomobileState extends fromState.AppState {
    product: fromProduct.ProductState;
}

export function localStorageSyncReducer(reducer: ActionReducer<any>): ActionReducer<any> {
//     return localStorageSync({ keys: ['product'], rehydate: true})(reducer);
// }

// export const metaReducers: Array<MetaReducer<any, any>> = [localStorageSyncReducer];

[2020-02-17 15:26] zerodexter82 opened #140 "checkStorageAvailability = true overwrites specified storage"
I'm trying to use this library to sync parts of my store to sessionStorage.
The project uses SSR so we need to check for availability of storage.
Unfortunately, it seems impossible to use the "storage" and "checkStorageAvailability" config options at the same time, because this code in localStorageSync function:
`if (config.storage === undefined &&
      !config.checkStorageAvailability || (config

[2020-02-23 22:18] BBlackwo commented on #101
The docs have now been updated with the encrypt/decrypt information.

[2020-02-23 22:18] #101 closed

[2020-02-23 22:21] BBlackwo commented on #139
Hi @SADIK112, the docs have been updated with information on how to use the `decrypt`/`encrypt` functions. Does that help resolve your issue? If not, can you please provide more info.

See: https://github.com/btroncone/ngrx-store-localstorage#localstorageconfig

[2020-04-06 12:20] fredrikj commented on #138
NGRX can not handle Date objects, so I am confused on why this library even does Date parsing. In what scenario do we want ISO date strings to be parsed into Date objects?

[2020-04-07 20:01] bdspen opened #144 "Saving nested state selectively (infinite depth)"
In the `LocalStorageConfig`, when using the `keys` configuration property the property "app" will not be saved in the local storage at all, only the `deal` property in `clear` and the `auth` top level property.

Is this a problem with having the state nested too deeply? Or is my syntax wrong?

[code]

Using chrome on mac.

[2020-04-08 06:03] BBlackwo commented on #144
Hi Ben @bdspen,

The `keys` config only works 2 levels deep. So you'll have to sync the whole  `app` object. E.g.

[code]

Is there a reason you only want certain `app` properties saved to storage?

[2020-04-08 14:45] bdspen commented on #144
Yes, I only want certain properties saved to storage because there is a "vehicles" property which has the potential to be quite large.

Since localStorage is limited to 5MB sometimes it goes over that limit, and it is only the vehicles property that is large enough to go over the limit.

It's nice to have it saved in local storage, to prevent having to make too many requests to the server for the

[2020-04-09 04:56] BBlackwo commented on #144
@bdspen thanks for all the info.

I've updated the docs to clarify that it only goes 2 levels deep, would you mind having a look at #145?

At this stage I don't see a lot of value in allowing the `keys` config to go deeper. Seems to me like going over the 5MB limit is an edge case. But if anyone else has this issue please add a comment to this issue and if enough people require this feature perhap

[2020-04-09 14:27] bdspen commented on #144
#145 looks good.

If I might add, as a new user of the library I think it would be really nice to have more code examples of common configurations and usages of the library.

Something using `mergeReducer`, `storage`, and some of the other configurations like `serialize` and others in that list would be good too.

I did some experimenting with these properties to see what the library is capable of

[2020-04-10 02:09] BBlackwo commented on #144
Thanks for having a look.

That's a great idea to provide more examples. I think we could add some more examples to the README for each of the config options as it's quite basic at the moment. Will add that to my todo list :)

I'd be happy to review a PR if you had some time to provide more examples.

Closing this issue for now as I think it has been resolved.

[2020-04-10 02:15] bdspen commented on #144
Sounds good. I'll see if I can whip up a few examples when I have time.

[2020-04-15 10:31] BBlackwo commented on #65
Closing this issue as it was fixed with #107.

For anyone interested, there's now a `mergeReducer` config if the default deep merge does not work in your use case.

[2020-04-15 10:31] #65 closed

[2020-04-15 10:36] BBlackwo commented on #110
Going to close this issue as it was fixed with 7.0.0 as commented above.

For anyone interested, there's now a `mergeReducer` config if the default deep merge does not work in your use case.

[2020-04-15 10:36] #110 closed

[2020-04-15 10:42] BBlackwo commented on #80
Closing this issue as it was fixed in version 6.0.0 which started doing a deep merge of the initial state and the local storage state.

[2020-04-15 10:42] #80 closed

[2020-04-15 11:12] BBlackwo commented on #128
Closing this issue as you can now specify a custom `mergeReducer` to fix this.

See [my stackblitz fork](https://stackblitz.com/edit/ngrx-localstorage-128-fix?file=src%2Fapp%2Fstore%2Fmetareducers.ts) of the original by @Jonnyprof.

[code]

[2020-04-15 11:17] BBlackwo opened #146 "Add more examples of how to use the configuration options"
As mentioend by @bdspen in #144. Opening a new issue specifically for the lack of config option examples.

I think a lot more info could be added to the README with some more examples, and if that's not enough potentially an `examples` folder too.

[2020-04-15 11:20] BBlackwo commented on #146
Here's a good example of how to use the `mergeReducer` function if you don't want the state cloned. https://github.com/btroncone/ngrx-store-localstorage/issues/128#issuecomment-613975060

[2020-04-17 08:02] BBlackwo commented on #120
This issue seems pretty complicated, given all the different discussions going on.

Is someone able to provide a repro for this? You might be able to fork [this stackblitz](https://stackblitz.com/github/jonnyprof/ngrx-localstorage-test) which was used to reproduce a different issue.

[2020-04-17 15:06] qannoufoualid opened #148 "No release notes"
Please if you can make release notes with all changes in each version it would be great.
Thank you

[2020-04-17 15:52] Jonnyprof commented on #128
@BBlackwo Thanks, it's great to override mergeReducer to workaround this issue, but I'm still thinking that the defaultMergeReducer is wrong, because changes the main functionality of ngrx.
I'd forked this repository and tested a while, and I think this should fix the issue.

[code]
Other option is use the merge from three shakeable lodash, for example lodash-es, but not sure if it does the correc

[2020-04-17 16:20] bufke commented on #128
Just for context, we did originally use 'lodash.merge' but it wasn't getting updates (at least at the time) and people where opening security vulnerabilities about it that couldn't be fixed. deepmerge fixed that problem and is lighter weight. However it doesn't have the exact behaviour of lodash.merge.  See https://github.com/btroncone/ngrx-store-localstorage/pull/126

Both ideas where borrowed fr

[2020-04-17 17:11] Jonnyprof commented on #128
Yes, I know the historial lodash - deepmerge path, because of it I've used deepmerge in my solution.
We have a large application with lazy load modules depending on the page and connection, and if every time that we load an async module all the async pipes to the store are emitted, the loose of performance is huge due to changeDetection is fired for all the components.

[2020-04-18 02:44] BBlackwo commented on #148
Hi @qannoufoualid we have a [CHANGELOG.md](https://github.com/btroncone/ngrx-store-localstorage/blob/master/CHANGELOG.md) that has changes, though it's missing a couple of versions in there sadly.

[2020-04-18 02:46] BBlackwo commented on #148
Are you suggesting we use [Github Releases](https://github.com/btroncone/ngrx-store-localstorage/releases)?

[2020-04-18 03:28] BBlackwo commented on #139
@SADIK112, I'm closing this issue as I haven't heard back from you for a couple of months and don't have enough info to provide any more help. If you can provide more info feel free to re-open it.

[2020-04-18 03:28] #139 closed

[2020-04-18 03:45] BBlackwo commented on #128
Hi @Jonnyprof thanks for the info and suggested code change.

If you're able to open a PR with your suggested code change as well as some unit tests I can take a look, but can't promise I'll merge it. It will need a lot of testing to see how it relates to other issues raised.

Some related issues:
- Issue #120 and PR #122 suggests removing the `|| action.type === UPDATE_ACTION` check completely an

[2020-04-24 01:44] #148 closed

[2020-04-24 01:45] BBlackwo commented on #148
Closing this as I have had no response from @qannoufoualid.

[2020-04-24 01:49] BBlackwo commented on #89
Closing this as that PR with the fix was merged.

[2020-04-24 01:49] #89 closed

[2020-04-24 01:53] BBlackwo commented on #91
Looks related to #144. Might need some more investigation if this feature is requested by a lot of people...

[2020-05-06 06:24] VladimirHumeniuk opened #152 "Cookie as a storage"
Is it possible to use cookie instead of localStorage? If so, is there any examples?

[2020-05-06 08:13] VladimirHumeniuk opened #153 "Problem with decrypt: Failed to execute 'atob' on 'Window': The string to be decoded is not correctly encoded."
I tried to encrypt/decrypt store to `localStorage` in the same way as it showed in documentation:

[code]

But I got an error:

I tried to encode/decode the same data just in dev tools, and it's was working.

[2020-05-08 05:18] BBlackwo commented on #152
No it is not possible to use cookies. Just `localStorage` and `sessionStorage`. See [Web Storage API interface](https://developer.mozilla.org/en-US/docs/Web/API/Storage).

Do you have a use-case that requires the use of cookies?

[2020-05-08 05:33] BBlackwo commented on #153
Hi @VladimirHumeniuk,

It sounds like you might need to clear out your localStorage and try again. What can happen is before you configure encrypt/decrypt it already has saved your data to localStorage *unencrypted*, so when it tries to decrypt it, it's not encrypted so it fails.

Here's an [example Stackblitz of encrypt/decrypt working](https://stackblitz.com/edit/ngrx-localstorage-153-encrypt-de

[2020-05-10 00:25] #153 closed

[2020-05-10 00:25] #152 closed

[2020-05-14 08:23] dmitry-kostin commented on #140
It doesn't work for me either,
they check IsBrowserEnv  via

but i have mocked window via domino in server.ts, so this check makes no sense

[2020-05-31 22:56] BBlackwo opened #157 "Enable CI for forked pull requests"
Hi @btroncone,

Could you please [enable Circle CI for forked pull requests](https://circleci.com/blog/triggering-trusted-ci-jobs-on-untrusted-forks/) so we can be sure that the build and tests pass before merging PRs.

How to:

Thanks.

[2020-05-31 23:24] BBlackwo commented on #157
I managed to update the setting myself actually. And got it working on #158.

https://app.circleci.com/pipelines/github/btroncone/ngrx-store-localstorage/17/workflows/f372e016-a0ab-437c-8fca-69a6f194e661

[2020-05-31 23:24] #157 closed

[2020-06-11 21:59] ianjamieson commented on #82
Thank you, for anyone else stumbling across this page. I was trying to store ngrx entities in local storage using the method above. Of course ngrx entities use a common name of `ids` and `entities`, to get around naming conflicts across multiple store states, I needed to use the `storageKeySerializer`. Taking the example above:

[code]

I would implement this as a best practice to avoid unknowingl

[2020-06-21 00:51] bappy004 commented on #128
@BBlackwo looks like your comment in PR #122 (https://github.com/btroncone/ngrx-store-localstorage/pull/122#issuecomment-615097433) is a good workaround.

[2020-06-26 18:30] yurakhomitsky opened #159 "Multiple states in LocalStorage by a unique key"
Is it possible to create several states in localStorage that are identified by a unique key?
For example
![image](https://user-images.githubusercontent.com/54478076/85889412-188cb800-b7f4-11ea-9aea-e7a8c161e0c1.png)

[2020-06-27 10:35] spock123 opened #160 "Angular 10 warning"
When compiling with Angular10, the following warning is displayed:

[code]

Is it possible to do es6 build? Thank you

Angular: 10.0.1
Ngrx-store-localstore:  ^9.0.0

[2020-06-30 08:54] conor-mac-aoidh commented on #160
Why not build with `ng-packagr` ?

[2020-06-30 09:59] BBlackwo commented on #160
@conor-mac-aoidh that's a great idea to use `ng-packgr`.

If someone can submit a PR to update the build system I'd be very happy to review it.

[2020-06-30 10:03] BBlackwo commented on #159
@yurakhomitsky you may be able to use the `storageKeySerializer` config option to do that.

[2020-06-30 15:52] yurakhomitsky commented on #159
I have tried that option, as you can see on the picture, each key has unique id, that id defined by listening route params, then passing to the NgRx action, unfortunately I don't have acccess to action in `storageKeySerializer`

[2020-07-06 10:30] HadyZ opened #161 "Encrypt and decrypt a specific object in db structure that is persisted in the localstorage"
I need to know if I can encrypt and decrypt a deep object in the local storage.

e.g encrypt only users node in the dataBus object
`
dataBus:{
users:[{
id:'asdasd',
email:'asdasdasd'
}
]
}
`
any help

[2020-07-06 10:39] #161 closed

[2020-07-12 02:43] darkedges commented on #160
@BBlackwo I have created https://github.com/btroncone/ngrx-store-localstorage/pull/162 to help resolve this.

been testing using https://www.npmjs.com/package/@darkedges/ngrx-store-localstorage/v/9.0.2

[2020-07-29 19:47] geo242 commented on #160
@darkedges Thanks for releasing that! So far it's working well in my testing and the warning is gone.

@BBlackwo Will this be merged in soon?

[2020-07-30 03:24] temka1234 opened #164 "Rehydrate state on logout"
I want to reset store to its initial state on logout, but save localstorage keys.
Is there any solution to make it from the box?

My current solution is:
[code]

[2020-08-25 08:11] trinitiwowka commented on #160
Hi @BBlackwo
Will this be merged in soon? 9.0.2

[2020-08-28 21:19] jorgeluis1706 opened #166 "Incompatible peer dependency when "ng update @ngrx/store""
Hi, when i try to make "ng update @ngrx/store -C", it show me this message:

 Package "ngrx-store-localstorage" has an incompatible peer dependency to "@ngrx/store" (requires "^4.0.0 || ^5.0.0 || ^6.0.0 || ^7.0.0 || ^8.0.0 || ^9.0.0", would install "10.0.0").

Thanks!

[2020-08-30 15:41] snider commented on #166
@btroncone compatibility issue with version 10 :)

[2020-09-05 05:11] BBlackwo commented on #144
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ngrx-store-localstorage/v/1.0.0)
- [GitHub release](https://github.com/btroncone/ngrx-store-localstorage/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-05 05:12] BBlackwo commented on #73
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ngrx-store-localstorage/v/1.0.0)
- [GitHub release](https://github.com/btroncone/ngrx-store-localstorage/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-05 05:12] BBlackwo commented on #105
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ngrx-store-localstorage/v/1.0.0)
- [GitHub release](https://github.com/btroncone/ngrx-store-localstorage/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-05 05:12] BBlackwo commented on #70
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ngrx-store-localstorage/v/1.0.0)
- [GitHub release](https://github.com/btroncone/ngrx-store-localstorage/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-05 05:12] BBlackwo commented on #45
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ngrx-store-localstorage/v/1.0.0)
- [GitHub release](https://github.com/btroncone/ngrx-store-localstorage/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-05 05:12] BBlackwo commented on #78
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ngrx-store-localstorage/v/1.0.0)
- [GitHub release](https://github.com/btroncone/ngrx-store-localstorage/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-05 05:36] #160 closed

[2020-09-05 05:36] #166 closed

[2020-09-05 05:39] BBlackwo commented on #144
:tada: This issue has been resolved in version 10.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ngrx-store-localstorage/v/10.0.0)
- [GitHub release](https://github.com/btroncone/ngrx-store-localstorage/releases/tag/v10.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-05 05:39] BBlackwo commented on #166
:tada: This issue has been resolved in version 10.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ngrx-store-localstorage/v/10.0.0)
- [GitHub release](https://github.com/btroncone/ngrx-store-localstorage/releases/tag/v10.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-05 05:39] BBlackwo commented on #160
:tada: This issue has been resolved in version 10.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ngrx-store-localstorage/v/10.0.0)
- [GitHub release](https://github.com/btroncone/ngrx-store-localstorage/releases/tag/v10.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-05 05:40] BBlackwo commented on #160
Sorry it took me a while to get this fixed everyone. Should be fixed now thanks to @darkedges 🙂

[2020-09-05 05:44] BBlackwo commented on #166
:tada: This issue has been resolved in version 10.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ngrx-store-localstorage/v/10.0.0)
- [GitHub release](https://github.com/btroncone/ngrx-store-localstorage/releases/tag/v10.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-05 06:13] BBlackwo opened #169 "Add prettier, demo app, e2e tests"
The following would improve this repo a lot:

- [X] Change the build to use [Angular CLI](https://cli.angular.io/)
- [X] Swap out TSLint for ESLint
- [x] Add prettier using [prettier-schematic](https://github.com/schuchard/prettier-schematic)
  - [x] Make sure that lint-staged runs prettier and ESLint
  - [x] Consider changing formatting to 2 spaces (instead of 4) as that is the default

[2020-09-07 08:27] prog-24 commented on #103
I may have figured this out, try removing aot and build optimizer from your angular.json.

[2020-09-17 03:52] jaydeep987 commented on #164
Exactly I have that requirement!

[2020-09-20 22:18] BBlackwo commented on #144
Reopening this issue as someone has raised PR #165 Infinite depth configuration.

[2020-10-01 23:15] Ruslancic opened #171 "Data not stored in LocalStorage in production mode!"
ngrx-store-localstorage is working fine in development mode, not in production! So, when i build the app, and deploy it, the data is not stored in localstorage! Only the ngrx-store-localstorage not working!
Rehydrate option is true!
Any idea?

P.S. Just checked right now, on Android i have same problem!

Node: 12.16.3
OS: win32 x64
Angular: 10.1.3
Ivy Workspace: Yes

[2020-10-03 08:08] BBlackwo commented on #171
Hi @Ruslancic I have not heard of this issue happening before now.

Can you provide a sample project to reproduce the issue?

[2020-10-03 08:10] Ruslancic commented on #171
I using clear ngx-rocket starter kit, and i think this is the problem! Just tested it with clear angular repository, and all working fine! Sorry for  worng issue opened!

[2020-10-03 08:10] #171 closed

[2020-10-10 05:24] #144 closed

[2020-10-10 05:32] BBlackwo commented on #144
:tada: This PR is included in version 10.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ngrx-store-localstorage/v/10.1.0)
- [GitHub release](https://github.com/btroncone/ngrx-store-localstorage/releases/tag/v10.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-22 14:09] dnbo opened #172 "Cannot mix partial and full state in sync keys"
In previous version (9.0.0) it was possible to mix partial and full state keys in the `keys` array passed to the `localStorageSync` function like

[code]

This is no longer possible in the latest version, due to changes introduced with #165, causing it to error out.

[2020-10-23 01:18] #172 closed

[2020-10-23 01:21] BBlackwo commented on #172
:tada: This issue has been resolved in version 10.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ngrx-store-localstorage/v/10.1.1)
- [GitHub release](https://github.com/btroncone/ngrx-store-localstorage/releases/tag/v10.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-30 14:49] radacovsky commented on #87
Hi.
I have just published this
https://github.com/radacovsky/ngrx-store-idb

It is based on this library. I hope that the attribution is ok. The license stayed the same: MIT.

[2020-10-30 23:16] BBlackwo commented on #87
@radacovsky thanks for the attribution!

I'm going to close this issue as it looks like there are several alternative libraries for Indexed Db storage.

[2020-10-30 23:17] #87 closed

[2020-11-27 15:45] whtrbit commented on #103
The deal is to make it work with AOT.

[2021-01-24 08:55] vleonc opened #177 "Logout through all tabs without reloading"
When I have multiple tabs oppened, and from one of them i perform a logout action (meaning changing all state-auth values to null), if i come back to the other tab the logout will only be successful on page reload. If the user navigates or does any other actions, the current state of that tab will be copied to localstorage, being logged in again and loosing the default values put from the other ta

[2021-01-24 17:33] vleonc commented on #177
I close the issue as it is solved with #40

[2021-01-24 17:33] #177 closed

[2021-02-02 21:30] BBlackwo commented on #40
Added the above solution to a [known workarounds](https://github.com/btroncone/ngrx-store-localstorage/blob/master/README.md#known-workarounds) section in the README

[2021-02-10 08:19] piotter121 opened #178 "NgRx 11 compatibility"
Hi,
When will you release version with NgRx 11 compatibility? If you need I would try make a PR for this.

[2021-02-10 09:30] BBlackwo commented on #178
Hi @piotter121,

If you can do PR to update the peer dependency to support version 11 that'd be good.

You'll need to make sure you follow the commit message convention to do a major bump to version 11.

[2021-02-10 09:34] BBlackwo commented on #178
The commit should be something like:

[code]

[2021-02-12 00:10] #178 closed

[2021-04-15 13:01] rattkin commented on #40
This seem to no longer work in this form. The Action type does not have a payload.

[2021-05-06 20:15] gsgonzalez88 commented on #133
we have the exactly the same problem

[2021-05-14 09:45] tarlepp opened #185 "Support for ngrx/store 12"
I just noticed this;
[code]

[2021-05-14 12:02] Ruslancic commented on #185
Same here +1!

[2021-05-17 16:42] Ic4r0 commented on #185
Same +1

[2021-05-20 02:09] BBlackwo commented on #169
#186 partially completes this:

- Change the build to use [Angular CLI](https://cli.angular.io/)
- Swap out TSLint for ESLint

[2021-05-20 04:27] BBlackwo opened #187 "Confirm correct type for `storageKeySerializer`"
There is some inconsistency in the types for `storageKeySerializer`. Should it be `(key: string | number) => string` or `(key: string) => string`?

It needs to be updated across app and docs.

[2021-05-20 05:14] #185 closed

[2021-05-20 06:49] BBlackwo commented on #185
:tada: This issue is resolved in version 12.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ngrx-store-localstorage/v/12.0.0)
- [GitHub release](https://github.com/btroncone/ngrx-store-localstorage/releases/tag/v12.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-15 23:41] BBlackwo opened #192 "Circle CI / Semantic Release: Authenticity of host github.com can't be established."
The semantic release deploy step has been failing for a few weeks now with the following error:

[code]

[2021-06-15 23:42] BBlackwo commented on #192
Attempts to fix:
- https://github.com/btroncone/ngrx-store-localstorage/pull/191
- https://github.com/btroncone/ngrx-store-localstorage/pull/190

[2021-06-15 23:46] BBlackwo commented on #192
Circle CI Discuss Links:
- https://discuss.circleci.com/t/the-authenticity-of-github-host-cant-be-stablished/33133
- https://discuss.circleci.com/t/the-authenticity-of-host-github-com-cant-be-established/20626
- https://discuss.circleci.com/t/authenticity-of-host-cant-be-established-are-you-sure-you-want-to-continue-connecting-yes-no/25754

Issue Links:
- https://github.com/cypress-io/circleci-orb

[2021-06-15 23:54] BBlackwo commented on #192
:tada: Fixed with #193! :tada:

[2021-06-15 23:54] #192 closed

[2021-07-07 07:45] sqrter commented on #120
We had the same use case causing the previous logged-in user to become active once the other user clicked on lazy-loaded route. Here's our meta reducer to sync session to/from local storage (old version).

[code]

This version works like expected:
[code]

[2021-10-04 19:25] kpaxton opened #205 "Fix typing for KeyConfiguration"
The type for KeyConfiguration doesn't allow for a child key to contain a simple string next to other KeyConfigurations.

[code]
It errors out on `token` saying it's not assignable to type of KeyConfiguration.

If I modify the type to be
[code]

Then it all seems to work just fine.
Might need more testing with some other deep object scenarios, but it seems to work so far for me in the case above.

[2021-11-08 03:27] sheikalthaf commented on #169
@BBlackwo Anyone working on remaining changes? I ready to work on remaining changes.

Please let me know if I can work on this.

Thanks for these library

[2021-11-08 04:00] BBlackwo commented on #169
Hi Sheik @sheikalthaf,

Would love to have you work on the remaining changes! Let me know if you have any questions or need help.

[2021-11-08 04:47] sheikalthaf commented on #169
@BBlackwo thanks for the confirmation. Will work on it.

[2021-11-08 05:11] BBlackwo commented on #169
For setting up Prettier my preference is to use the default and not even have a config file.

[2021-11-08 06:27] sheikalthaf commented on #169
@BBlackwo sure will do that 👍🏻

[2021-11-11 13:44] DerYeger opened #206 "Support Angular 13"
`@ngrx/store` has already released `13.0.0-beta.0`.
It would be awesome to use this library with Angular 13 as well.

[2021-11-11 21:24] BBlackwo commented on #206
Thanks for raising this @DerYeger. I think it makes sense to wait until `@ngrx/store` releases version 13 and then all the peer dependencies can be updated at once.

[2021-11-17 16:50] j-be commented on #206
`13.0.0` and `13.0.1` have been released yesterday and today respectively (https://www.npmjs.com/package/@ngrx/store?activeTab=versions)

[2021-11-22 02:49] keenkit commented on #102
I got the same issue when using `nx`.

My app structure is like:
[code]

I got it to work finally by moving `ngrx root, etc` from `apps main` model to `libs/myApp`.

[2021-11-24 11:03] ndr-88 opened #207 "Get different properties by store"
I my store I have a key sidebar:

`sidebar: {list: {pages: 0, size: 3, folders: [{id: 1, name: 'test'}] } , role: 'ADMIN' }`

I want to get the key page and size by the feature_key 'list' but also the string of the property role, but it seems I can't. I tried in this way:

` keys: [
      {
        sidebar: [
          {
            list: ['pages', 'size'],
          },
          'role'
        ],

[2022-01-02 19:08] aakash14goplani commented on #164
Create a new meta-reducer that will reset reducer's state back to initial state. So when the user logs out, the application's reducer state will be reset to initial satate & the keys will also be preserved.

**Logout Reducer**
[code]

**Action**
[code]

**App State and Initial State configurations**
[code]

[2022-01-10 03:48] rdlabo commented on #206
I wanted to use it right away in Angular13, so I forked the pull request https://github.com/btroncone/ngrx-store-localstorage/pull/208 and built on my repository.

Please use it for temporary migration.

`npm i ngrx-store-localstorage@github:rdlabo/ngrx-store-localstorage#release/206`

and

[code]

[2022-01-10 13:46] BramDecuypere commented on #206
Thanks @rdlabo , I've been watching this ticket for quite some time. And I can't keep on waiting for them to support Angular 13. It's been two months already since release date?

[2022-01-17 06:13] xorph commented on #206
Any ETA for this issue?

[2022-01-17 06:17] piotter121 commented on #206
Spent almost 3 days to solve testing issues in #208 and didn't found solution for this module resolution problem. Wherefore moving my PR to draft PR.

[2022-01-17 21:58] temka1234 commented on #164
Keys not preserved on logout.

Here is example:
https://stackblitz.com/edit/ngrx-seed-g4xhnm

[2022-01-21 03:56] #206 closed

[2022-01-21 03:57] BBlackwo commented on #206
:tada: This issue has been resolved in version 13.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ngrx-store-localstorage/v/13.0.0)
- [GitHub release](https://github.com/btroncone/ngrx-store-localstorage/releases/tag/v13.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-21 04:00] BBlackwo commented on #206
Sorry for the delay getting v13 support out. There was a module resolution problem that was stopping it from being merged in.

Thanks to @piotter121 and @rdlabo for helping get this across the line!

[2022-01-24 00:31] BBlackwo opened #212 "Fix module resolution issue when importing action constants"
During the Angular 13 upgrade the build broke when doing an import from `@ngrx/store`:

[code]

The issue has to do with conflicting module resolution (CommonJS Modules vs ES Modules) see https://github.com/btroncone/ngrx-store-localstorage/pull/208#issuecomment-983523994 for more info.

As a temporary workaround we have removed the import and hardcoded the action constants in https://github.com/b

[2022-03-02 15:45] sonnyvesali opened #214 "Rehydrating Feature Module using ngrx/entity"
So I have a user module that uses ngrx/entity to store state, and based on the already raised issues that seem to raise similar concerns and address them like [this one](https://github.com/btroncone/ngrx-store-localstorage/issues/82) I can't get the state to persist in the feature module despite following the prescription of the code provided.

I've made a sessionStorage.ts with the following code

[2022-03-23 22:50] baptistechardon opened #215 "npm lib missing readme and license"
Current version on the npm registry (13.0.0) appears to be missing readme or license:
![image](https://user-images.githubusercontent.com/24387436/159808538-3144c7a8-33dc-4edf-bf0c-6788dbbb03b7.png)

The latest version with a readme and a known license (MIT) on the registry seems to be 11.0

On github, the readme is still present, and a license field is in the github package.json.

[2022-03-24 00:27] baptistechardon commented on #215
Fix proposition in PR : https://github.com/btroncone/ngrx-store-localstorage/pull/216

[2022-03-30 03:58] #215 closed

[2022-03-30 04:01] BBlackwo commented on #215
:tada: This fix is included in version 13.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ngrx-store-localstorage/v/13.0.1)
- [GitHub release](https://github.com/btroncone/ngrx-store-localstorage/releases/tag/v13.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-30 04:04] BBlackwo commented on #215
Much better! :slightly_smiling_face:
![Screenshot from 2022-03-30 15-03-08](https://user-images.githubusercontent.com/7598058/160749148-4fbe387c-6a68-441c-9acf-b6211729eb26.png)

[2022-03-31 07:06] Mohinesh27 opened #221 "Unable to save state to localStorage: DOMException: Failed to execute 'setItem' on 'Storage': Setting the value of 'tempState' exceeded the quota."
Hi,
I am facing this issue please look into this. For more details please find the attached screenshot.

![image](https://user-images.githubusercontent.com/6978930/160997277-a92e572b-74fa-45c8-87fd-a01b070a8a88.png)

Please guide me how can I resolve it as I am newbie for Angular, NGRX with ngrx-store-localstorage.

[2022-03-31 23:25] BBlackwo commented on #221
Hi @Mohinesh27 perhaps this will help? https://stackoverflow.com/questions/23977690/setting-the-value-of-dataurl-exceeded-the-quota

[2022-04-22 10:01] mostl33 opened #222 "Persist reducer states under single key"
Hey there,

is it possible (or has someone already implemented it) to group all reducers states under a single "root" key (kinda like the key setting in redux-persist) in the localstorage?

Thanks
mostlee

[2022-04-27 01:40] BBlackwo commented on #221
Going to close this as I don't think it's related to this library.

[2022-04-27 01:40] #221 closed

[2022-04-27 01:42] BBlackwo commented on #222
Hi @mostl33 I don't fully understand your question. Could you provide a bit more info, maybe with some examples? Thanks

[2022-04-28 04:33] christoment commented on #120
Having similar problem with my setup and digging through Google landed me in this issue.

https://github.com/btroncone/ngrx-store-localstorage/issues/120#issuecomment-875371099 works as well for me, but I'm still wondering why wrapping `localStorageSync` in another function fixes the problem...

[2022-05-25 11:35] szwowo opened #224 "Rehydration callback"
Hello,

I have an app, where user is sending his availability. I have used Effect to ping user availability in time interval.
After refreshing the page I am reading user state from local storage and I want to start the Effect based on the loaded user state.

So basically I need an Action that tells "rehydration done" with user state.

How I can achieve something like this?

Thanks :)

[2022-05-30 11:55] versave commented on #40
Works nicely in the following format

[code]

[2022-06-22 15:53] kevinsar opened #227 "Angular 14 dependency update"
Looks like there are peer dependencies on Angular 13 for the latest version of ngrx-store-localstorage. Had to use --force to install it after upgrading to Angular 14 as a workaround for now.

[2022-06-27 11:44] soorireddy commented on #227
Have the following in package.json

"overrides": {
    "ngrx-store-localstorage": {
      "@angular/common": "14.0.3",
      "@angular/core": "14.0.3",
      "@ngrx/store": "14.0.0"
    }
  },

[2022-06-28 23:07] BBlackwo commented on #227
I raised a PR to upgrade to v14 but the tests are failing. That needs to be fixed before it can be merged.

[2022-06-29 01:49] #214 closed

[2022-06-29 02:02] BBlackwo commented on #214
@sonnyvesali did you find a solution to your problem?

[2022-06-29 02:51] sonnyvesali commented on #214
No

[2022-06-30 07:48] piotter121 commented on #227
@BBlackwo Any idea when you could fix tests?

[2022-06-30 10:57] BBlackwo commented on #227
Not sure when I'll have to time fix the build @piotter121. Would be happy for anyone to have a look if they have time #228.

[2022-06-30 11:11] #227 closed

[2022-06-30 11:12] BBlackwo commented on #227
:tada: This issue has been resolved in version 14.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ngrx-store-localstorage/v/14.0.0)
- [GitHub release](https://github.com/btroncone/ngrx-store-localstorage/releases/tag/v14.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-06-30 11:14] BBlackwo commented on #227
Fixed the build. Needed to upgrade `ts-node` to the latest.

Let me know if there are any issues with v14.

[2022-07-07 01:24] yuchuan1 opened #229 "Angular 14 deepmerge warning"
Versions
ngrx-store-localstorage 14.0.0
Angular 14.0.5

[code]

[2022-07-13 21:20] kyrolus commented on #229
Me too see this warnings and we want and update

[2022-07-28 09:06] haidar-h commented on #229
Same here.

[2022-09-04 13:18] dmitrydutin commented on #229
Similar problem with angular 14.2.0
Warning: ...\node_modules\ngrx-store-localstorage\fesm2020\ngrx-store-localstorage.mjs depends on 'deepmerge'. CommonJS or AMD dependencies can cause optimization bailouts.
For more info see: https://angular.io/guide/build#configuring-commonjs-dependencies

[2022-10-13 04:53] sleez007 commented on #229
Hi @BBlackwo,
This problem is still open and I had a similar experience after installing the package. any help on this?

[2022-10-13 05:33] BBlackwo commented on #229
There are two options to fix this:
1. Disable the warning https://angular.io/guide/build#configuring-commonjs-dependencies
    - Straightforward. Anyone is free to raise a PR with that change.
2. Move to another library which uses ESModules
    - More risky and will need a lot of testing
    - This library already moved from lodash to deepmerge in 2019 #126
    - Is there a better library than dee

[2022-10-13 23:26] ivayloc commented on #93
I am using `ngrx-store-localstorage` with `NX workspace` and I tried all workarounds but still can't make it work with lazyloaded modules in the case when I want to rehydrate specific slices from the state, on page refresh the initial state is being replaced by the saved slices from the `localstorage`.

The root store is called `merchant` and the feature store is called `onboarding`.

**This is my